[2013-12-16 12:03] ujovlado opened #27 "Old link to 0.9 documentation?"
Hi,

at the bottom of this page http://doc.nette.org/cs/2.1/quickstart, there's a link to `0.9` documentation. It's little confusing, while I'm on page for `2.1` Quickstart.

Thx.

[2013-12-26 01:37] dg opened #30 "Combine branches to one branch"
Maybe it wasn't good idea to have a lot of branches and some of them should be merged into one branch like this https://github.com/nette/web-content/tree/nette.org.

Documentation should be in separate branch, because we need to make forks. But for other content, multiple branches makes things more difficult, doesn't?

[2013-12-30 00:19] #30 closed, assigned to nobody

[2014-01-01 19:27] #27 closed, assigned to nobody

[2014-01-15 15:29] Majkl578 opened #44 "Add generator command for building whole site at once"
- [x] as HTML
- [x] as PDF
- [ ] as epub/mobi

[2014-01-15 15:34] hrach opened #45 "Better chapter navigation"
Each page has some next & previous chapter navigation. The order is parsed from homepage. However, the next chapter name is parsed as the link value. The best would be show the title of the next chapter. This is significant for chapters, which are somehow connected in one `<li>` item on doc homepage.

Examples:
- http://doc.nette.org/en/2.1/validators
  - next chapter title now: strings
  - next c

[2014-01-16 14:14] vvoody- opened #46 "quickstart - no presenter mapping in config"
V zdrojákoch quickstartu bol oproti sanboxu odstránený mapping https://github.com/nette/tutorial-quickstart/blob/master/app/config/config.neon. Myslím že by o tom mala byť zmienka v samotnom quickstarte. Začiatočník sa môže zadrhnúť pri vytváraní PostPresenter podla http://doc.nette.org/cs/2.1/quickstart/single-post ktorému nepridá namespace, nepomôže ani kontrola presenteru oproti git zdrojákom h

[2014-01-20 12:55] vnenkpet opened #47 "404 on contribute documentation page"
I find it kind of confusing to try contributing when the http://doc.nette.org/en/2.1/contribute-documentation (the read-me-before-contributing page) is missing.

[2014-01-21 11:50] songoo opened #49 "404 /formulare/vykreslovani"
404 in http://dev.nette.org/cs/formulare/vykreslovani .

Prelink from http://doc.nette.org/cs/2.1/forms :
Link is in word "Vykreslování" .
"Další informace o vykreslování (metodě toggle) se dovíte na stránkce Vykreslování."

[2014-01-21 12:29] #49 closed, assigned to nobody

[2014-02-04 14:17] george-oakling opened #63 "$container->getService('cacheStorage') is deprecated"
Hi! The caching.texy page includes an outdated information about caching in presenters - $container->getService('cacheStorage') is deprecated.

I use this:

[code]

Maybe there should be an updated documentation, what is the best practise for the cacheStorage in presenters/components...

[2014-02-05 10:23] zraly opened #64 "Broken links to API"
In this text https://github.com/nette/web-content/blob/doc-2.1/cs/configuring.texy#L63 are broken links to API. E.g: http://api.nette.org/2.1.0/Nette.Config.Configurator.html#_setDebugMode

[2014-02-05 22:40] zraly opened #66 "Broken link in readme.md"
Link to Contribute informations (http://doc.nette.org/en/2.1/contribute-documentation) in  `readme.md` is broken.

[2014-02-06 00:48] #66 closed, assigned to nobody

[2014-02-06 10:45] #47 closed, assigned to nobody

[2014-02-06 10:55] #64 closed, assigned to nobody

[2014-02-20 17:26] GreenManSK opened #72 "Wrong hash in URL for "Links in templates" in "Default Latte Macros""

[2014-02-20 17:32] #72 closed, assigned to nobody

[2014-03-12 15:24] JanTvrdik opened #81 "Translate routing improvements from English to Czech"
I'm looking for someone to translate the latest English version of Routing page to a Czech version. Before you start working on the translation write to this thread. I don't need 3 translations – just one :smile:

[2014-03-12 15:25] hrach opened #82 "Translate database from English to Czech"
I'm looking for someone to translate the latest English version of Database pages to a Czech version.

[2014-04-04 15:03] JanTvrdik opened #85 "Routing: document module parameter behavior"

[2014-04-06 20:07] newPOPE opened #88 "DI extensions has a bad link in quick menu"
Correct link is `http://doc.nette.org/en/2.1/di-extensions` instead of `http://doc.nette.org/en/2.1/extensions`

![screen shot 2014-04-06 at 22 03 54](https://cloud.githubusercontent.com/assets/484382/2626278/ed4e5956-bdc6-11e3-9ba5-987e9f4955dd.png)

[2014-04-07 07:58] #88 closed, assigned to nobody

[2014-04-30 23:16] ghost opened #101 "Invalid links in Writing the Documentation"
I'm not sure whether the page http://nette.org/en/writing is part of content managed by Git, I'm afraid it is not. The english and the czech version contains missing links:

Coding Standard: http://nette.org/en/coding-standard
github.com: http://nette.org/en/github-com

This is probably due to upgrade the documentation from v2.0 to v2.1.

[2014-05-01 00:00] #101 closed, assigned to nobody

[2014-05-14 08:50] #82 closed, assigned to nobody

[2014-07-10 15:05] racinmat opened #115 "Two not working links."
Two links in czech version of documentation are broken.
http://doc.nette.org/cs/2.1/reporting-bug on page http://doc.nette.org/cs/2.1/
and http://doc.nette.org/cs/2.1/database-joining-expressions on page http://doc.nette.org/cs/2.1/database-activerow

[2014-07-24 13:12] #115 closed, assigned to nobody

[2014-08-15 09:41] hrach opened #125 "doc for 2.3"
I would like to start prepare doc for 2.3. Should I create the branch?

[2014-08-15 10:19] #125 closed, assigned to nobody

[2014-08-16 10:33] racinmat opened #126 "Parametry konstuktoru formuláře v http://doc.nette.org/cs/2.2/forms#toc-pouziti-stejneho-formulare-ve-vice-presenterech"
Na stránce http://doc.nette.org/cs/2.2/forms#toc-pouziti-stejneho-formulare-ve-vice-presenterech píšete, že by konstruktor formuláře měl vypadat takto:
public function __construct(IContainer $parent = NULL, $name = NULL)
    {
        parent::__construct($parent, $name);
    }
Tedy mít parametry $parent a $name.
Ale například zde:
http://forum.nette.org/cs/19857-zapojeni-komponenty-do-stromu-s-par

[2014-08-18 10:07] #126 closed, assigned to Majkl578

[2014-08-18 10:26] #63 closed, assigned to nobody

[2014-08-21 17:27] chemix opened #127 "wrong link from documentation to api"
On this http://doc.nette.org/en/2.2/forms page is link to API, but link is wrong http://api.nette.org/forms/2.2/

(czech and english version, all other pages like templating,...)

![forms___nette_framework](https://cloud.githubusercontent.com/assets/42802/4000164/7276cf36-2957-11e4-897d-513a714638d9.png)

When I change version of documentation to 2.1 link to API is still http://api.nette.org/forms

[2014-08-25 07:18] castamir opened #130 "link / logo for Tracy redirects to nette. org instead of tracy.nette.org"
New logo for Tracy, Latte and Tester links to wrong (sub)domain.

Is it possible to change it, so logo for Tracy will redirect to tracy.nette.org instead to nette.org?
Same for Latte and Tester...

[2014-09-15 17:43] racinmat opened #138 "Wrong namespace in https://github.com/nette/web-content/blob/doc-2.2/cs/quickstart/single-post.texy"
In

Stránka s příspěvkem

---

.[perex]
Nyní si vytvoříme další stránku blogu, která bude zobrazovat jeden konkrétní příspěvek.

Musíme si vytvořit novou render metodu, která získá jeden konkrétní článek a předá jej do šablony. Mít tuto metodu v `HomepagePresenter` není moc hezké, protože se bavíme o článku a ne úvodní stránce. Vytvořme si tedy `PostPresenter` v `app/presenters/PostPresenter.php`.

[2014-09-15 20:50] #138 closed, assigned to nobody

[2014-10-10 09:02] xpavp03 opened #147 "Links to documentation not converted until post edited"
When I post a link to [[ documentation | doc:something ]], it doesn't get converted to http://doc.nette.org/cs/2.2/something until I edit the post.

[2014-10-10 09:45] #147 closed, assigned to nobody

[2014-10-29 02:08] #130 closed, assigned to nobody

[2014-10-29 02:09] #127 closed, assigned to nobody

[2014-11-16 12:46] jkuchar opened #161 "Presenter as a Service (typo)"
https://github.com/nette/web-content/blob/doc-2.2/en/di-usage.texy#L364

Should be:
All application logic should be in services, not in presenters.
(removed NOT before _in services_)

[2014-11-16 16:05] #161 closed, assigned to nobody

[2015-01-13 14:24] klimesf opened #175 "Editor: weird line breaking"
While editing in `editor.nette.org`, I noticed that the line breaking is broken if you use backticks at the end of the line. However

I don't know if this is Texy's or editor's issue so I reported it here.

![screen shot 2015-01-13 at 15 00 21](https://cloud.githubusercontent.com/assets/5357636/5721834/7ec377d4-9b36-11e4-8b79-75d5858e04b0.png)

You can reproduce it [using this text](https://gist.g

[2015-01-13 15:51] milo commented on #175
Maybe due to some [CSS Change](http://forum.nette.org/cs/19431-polozit-otazku-a-dalsi-novinky-na-foru#p135281).

[2015-01-13 16:54] JanTvrdik commented on #175
I noticed that too. My guess is Texy bug, no time to properly test it though.

[2015-01-13 17:28] dg commented on #175
Vyřešeno nasazením jsem Texy 2.6 https://github.com/dg/texy/releases/tag/v2.6

[2015-01-13 17:28] #175 closed

[2015-01-13 17:29] klimesf commented on #175
:+1:

[2015-01-14 13:59] klimesf commented on #45
I believe this can be closed now.

[2015-01-14 14:07] #45 closed

[2015-01-14 17:37] hrach commented on #45
when it was fixed? :)

[2015-01-15 21:29] klimesf opened #180 "Forms: fix the doc"
ref http://forum.nette.org/cs/17100-co-vylepsit-na-dokumentaci

I'm opening this issue because I'm working on it and I want to avoid duplication.

PR coming soon™

[2015-01-20 21:14] #180 closed

[2015-02-10 06:33] dg commented on #85
ping @JanTvrdik

[2015-02-25 18:58] JanTvrdik opened #200 "Tracy: aktualizovat screenshoty"

[2015-02-25 19:00] JanTvrdik opened #201 "Tracy: detekce vývojového řežimu na základě cookies"
Debugger::enable() implements checking of cookie (format cookie@ip.address)

[2015-02-25 19:01] JanTvrdik opened #202 "Tracy: nové options pro Dumper"
Dumper: new options LOCATION_SOURCE, LOCATION_LINK, LOCATION_CLASS

[2015-02-25 19:01] klimesf opened #203 "Application: all presenters are created in Dependency Injection container"

[2015-02-25 19:01] klimesf opened #204 "Application: LinkGenerator + {link} macro without presenter"

[2015-02-25 19:02] JanTvrdik opened #205 "Tracy: přizpůsobení dumpování objektů"
Dumper: customizable object exportes

[2015-02-25 19:02] pilec opened #206 "Latte: Smazat všechny # ve zmínkách o blocích"
hlavně {ifset block} a  {elseifset block}

[2015-02-25 19:03] pilec opened #207 "Latte: makro {? se změnilo na {php"
viz: added macro {php …} as replacement for {? …}

[2015-02-25 19:03] JanTvrdik opened #208 "Tracy: tvorba vlastního loggeru"
added Tracy\ILogger and rewritten default Logger

[2015-02-25 19:03] klimesf opened #209 "Application: deprecated Nette\Templating, template extension .phtml and old link syntax"

[2015-02-25 19:03] medhi opened #210 "Database: vyhazuje vlastní výjimky"
throws own exceptions:
DriverException, ConnectionException
ConstraintViolationException, ForeignKeyConstraintViolationException,NotNullConstraintViolationException and UniqueConstraintViolationException

[2015-02-25 19:04] klimesf opened #211 "Application: removed case insensitivity for presenters and actions"

[2015-02-25 19:05] pilec opened #212 "Mail: vymazat zmínky o Nette\Template"
viz: deprecated support for Nette\Templating

[2015-02-25 19:06] chemix opened #213 "Utils: add documentation for Arrays::normalize(), Callback::invokeSafe(), Html::data(),"
- [x] Arrays::normalize http://api.nette.org/2.3.0/source-Utils.Arrays.php.html#226-237

- [ ] Callback::invokeSafe() http://api.nette.org/2.3.0/source-Utils.Callback.php.html#82-106

- [x] Html::data() http://api.nette.org/2.3.0/source-Utils.Html.php.html#234-246

[2015-02-25 19:06] pilec opened #214 "Robot Loader: zkontrolovat použití realpath()"
viz: removed usage of realpath()

[2015-02-25 19:06] klimesf opened #215 "Application: Router caching + action name can begin with number"

[2015-02-25 19:07] medhi opened #216 "Database: nové operátory a značky"
- [x] added support for += and -= in UPDATE statement
- [x] added support for operators in WHERE & AND
- [x] implemented ?and ?or ?set ?values ?order ?name
- [x] added support for ‘.’ in column names

[2015-02-25 19:07] klimesf opened #217 "Bootstrap: removed Configurator::DEVELOPMENT & PRODUCTION"

[2015-02-25 19:07] pilec opened #218 "Security: replacnout všechny booleany v User/Security za flagy"
viz: User: bool parameters replaced with flags, i.e. $user->setExpiration('20 minutes', TRUE, TRUE)› setExpiration('20 minutes', $user::BROWSER_CLOSED | $user::CLEAR_IDENTITY)

[2015-02-25 19:08] klimesf opened #219 "Bootstrap: zdokumentovat addServices(), addDynamicParameters(), setTimeZone()"
- [ ] addServices
- [ ] addDynamicParameters
- [ ] setTimeZone

[2015-02-25 19:09] pilec opened #220 "Forms: odebrat z addText ... $cols"
viz: addText, addPassword, addTextArea: parameter $cols is deprecated

[2015-02-25 19:10] medhi opened #221 "Database: MySQL driver používá kódování utf8mb4"
MySqlDriver: uses utf8mb4 encoding for MySQL >= 5.5.3

[2015-02-25 19:12] klimesf opened #222 "DI: service aliases"

[2015-02-25 19:12] chemix opened #223 "Nova stranka migrace nette 2.2 -> 2.3"
Dost veci se resi zde: http://forum.nette.org/en/22055-nette-2-3-0-beta-for-testing

Pridat sekci co je nove deprecated ?

[2015-02-25 19:12] klimesf opened #224 "DI: zdokumentovat DecoratorExtension, DIExtension a InjectExtension"

[2015-02-25 19:12] JanTvrdik opened #225 "Database: classes *Reflection split into with *Conventions & Structure"

[2015-02-25 19:13] klimesf opened #226 "DI: zdokumentovat CompilerExtension::validateConfig()"

[2015-02-25 19:13] JanTvrdik opened #227 "Database: Connection: undeprecated some methods"

[2015-02-25 19:13] klimesf opened #228 "DI: zdokumentovat chained syntax"

[2015-02-25 19:14] klimesf opened #229 "DI: zdokumentovat parameters auto-resolution for generated factories"

[2015-02-25 19:15] klimesf opened #230 "DI: zdokumentovat dynamic services"

[2015-02-25 19:16] klimesf opened #231 "DI: zdokumentovat parametry pro extensions v ExtensionsExtension"

[2015-02-25 19:18] dg commented on #218
Nakonec to v 2.3 není.

[2015-02-25 19:19] #218 closed

[2015-02-26 16:16] pilec commented on #220
There is not any occurrence of these in documentation.

[2015-02-26 16:16] #220 closed

[2015-02-26 16:17] pilec commented on #214
There is not any occurrence of these in documentation.

[2015-02-26 16:17] #214 closed

[2015-02-26 16:25] pilec commented on #206
There is not any occurrence of these in documentation.

[2015-02-26 16:25] #206 closed

[2015-02-26 16:27] pilec commented on #212
There is not any occurrence of these in documentation.

[2015-02-26 16:27] #212 closed

[2015-02-26 16:28] pilec opened #234 "Create new article about migrating from 2.2 to 2.3"

[2015-02-26 16:30] pilec commented on #234
Duplicate with https://github.com/nette/web-content/issues/223

[2015-02-26 16:30] #234 closed

[2015-02-28 11:14] klimesf opened #238 "Components: add use-case of a real component, clarify advanced use of components"
ref http://forum.nette.org/cs/17100-co-vylepsit-na-dokumentaci

[2015-02-28 11:16] klimesf opened #239 "Routing: remove deprecated stuff, path mask, fix simple router and document new features"
ref http://forum.nette.org/cs/17100-co-vylepsit-na-dokumentaci

[2015-02-28 11:17] klimesf opened #240 "Debugging: document switching on via $configurator and Tracy, fix info about E_NOTICE/E_WARNING"
ref http://forum.nette.org/cs/17100-co-vylepsit-na-dokumentaci

[2015-02-28 11:20] klimesf opened #241 "Ajax: overhaul"
- [ ] remake the introduction, probably revamp the whole concept
- [ ] add use-cases with subrequests
- [ ] add warning about CSRF

ref http://forum.nette.org/cs/17100-co-vylepsit-na-dokumentaci
ref http://forum.nette.org/cs/22140-ajaxovy-odkaz-smerujuci-na-inu-action

[2015-02-28 11:21] klimesf opened #242 "Paging: overhaul, add use-cases"
`tohle je docela malér, protože člověk se vlastně o stránkování moc nedozví. Tudíž je třeba téma přepsat jako ukázku, jak řešit stránkování přímo v presenteru, a pak se dostat k Paginator`

[2015-02-28 11:22] klimesf opened #243 "Autoloading: mention Composer, remove deprecated stuff"
ref http://forum.nette.org/cs/17100-co-vylepsit-na-dokumentaci

[2015-02-28 11:23] klimesf opened #244 "Database: overhaul"
Rewrite the section and stick to the doc guidelines.

ref http://forum.nette.org/cs/17100-co-vylepsit-na-dokumentaci

[2015-02-28 12:28] pilec opened #245 "Latte: Přidat upozornění na includeblock na možné xss"
Viz https://github.com/nette/latte/pull/60

[2015-03-05 17:35] pilec opened #247 "Projít pořádně quick start, že funguje na Nette 2.3"

[2015-03-05 17:51] #202 closed

[2015-03-05 19:17] pilec opened #249 "Přidat možnost přidat komentáře pod článek"
Ale ne postaru, neukazovat je, ale odesílat na email - zatím klidně na můj - jan@endel.cz

cc @dg

[2015-03-06 09:50] chemix commented on #247
https://github.com/nette/web-content/pull/251

[2015-03-06 09:51] chemix commented on #247
chybi teda jeste EN mutace

[2015-03-12 18:05] klimesf commented on #204
http://phpfashion.com/generovani-odkazu-kuprikladu-v-emailech-a-nette-2-3

[2015-03-12 18:15] #207 closed

[2015-03-12 18:18] #209 closed

[2015-03-12 19:11] klimesf opened #253 "Presenters: fix invalidLinkMode documentation"

[2015-03-18 19:36] matej21 opened #256 "Routovani: moduly"
zminit parametr routelistu - module

[2015-03-18 19:38] matej21 opened #257 "Routování: priorita"
zduraznit dulezitost poradi (asi blok s vykricnikem?)

[2015-03-18 19:54] matej21 commented on #256
Duplicitní, #85 :)

[2015-03-18 19:54] matej21 opened #258 "Routování: smazat globální styly/masky"
Jsou deprecated

[2015-03-18 20:13] matej21 opened #259 "Security: data v identite"
usermanager v sandboxu predava do identity data, v dokumentaci o tom neni zminka.

a pridat varovani, ze ulozena v identite (vcetne role) jsou v session a sama se neaktualizuji

[2015-03-18 20:24] matej21 opened #260 "Security: jak vytvorit permission"
zminit dve moznosti,
- ciste v neonu se setup
- factory

[2015-03-18 20:25] matej21 opened #261 "Security: namespace - vic info"
- ze je nutno nastavit ve vsech presenterech, ktery ns pouzivaji
- pokud se v presenteru pouziva checkRequirements, je nutno nastavit NS tam, nestaci ve startupu

[2015-03-18 20:48] matej21 opened #262 "Latte: registrace maker v neonu"

[2015-03-18 20:48] matej21 opened #263 "Latte: registrace filtru v neonu"
nebo ne? :)

[2015-03-18 20:49] matej21 opened #264 "Latte: StringLoader"

[2015-03-18 20:50] dg commented on #263
To je antipattern. Filtry má registrovat ten, kdo je používá. Komponenta, presenter, NewsletterManager…

[2015-03-18 20:50] dg commented on #262
To je taktéž antipattern.

[2015-03-18 20:51] matej21 opened #265 "Formulare: setValidationScope a onValidate"
onValidate se spusti bez ohledu na setValidationScope, zminit

[2015-03-18 20:52] dg commented on #265
To je bug?

[2015-03-18 20:54] matej21 commented on #265
nevim, na foru uz se to resilo nekolikrat, naposledy dnes http://forum.nette.org/cs/22557-validace-formulare-pres-onvalidate-tlacitkem-se-setvalidationscope-false :)

[2015-03-18 20:55] matej21 opened #266 "Formulare: vlastni validacni pravidla do JS"
je zminena pouze fce `divisibilityValidator`, zminit jak to ma vypadat, pokud se jedna o metodu ve tride (v namespace)

[2015-03-18 20:57] matej21 opened #267 "Formulare: zasazeni do zivotniho cyklu presenteru"
ze se zpracovavaji jako signal, pred render metodou

[2015-03-18 20:59] matej21 opened #268 "Formulare: addFilter"

[2015-03-18 20:59] dg commented on #265
IMHO to správně.

[2015-03-18 21:02] matej21 commented on #265
Mno rekl bych, ze by bylo logictejsi spoustet onValidate pouze pokud neni nastavena validation scope, pripadne pokud je nastavena na dany kontejner.
Pokud je to ale ocekavane chovani, tak krom doc dopsat test ;)

[2015-03-18 21:06] matej21 opened #269 "Ajax: snippetArea - lepsi priklad"
s ukazkou latte

[2015-03-18 21:11] matej21 opened #270 "Mail: pouziti v aplikaci, DI"
- vyzadovat IMailer jako zavislost, nevytvaret SmtpMailer (nebo jiny) rucne
- odkaz na konfiguraci

[2015-03-19 15:06] pilec opened #272 "Fórum: čas < 1 minuta nepřeložen"
Přiznám se, že nevím jestli to dávám do dobrýho repa, kdyžtak close.
![snimek obrazovky 2015-03-19 v 16 03 33](https://cloud.githubusercontent.com/assets/557455/6733336/e3f94c2a-ce51-11e4-82a3-30f3998999fb.png)

[2015-03-19 15:31] dg commented on #272
`less than a minute from now` znamená za minutu, takže asi rozdíl mezi časem na počítači a na serveru.

[2015-03-19 17:00] pilec commented on #272
Hmm, je to na Macu, takže mám čas syncnutý, co na serveru? a český překlad mi dává `méně než minuta od teď`.

[2015-03-25 01:31] matej21 commented on #265
@dg co myslis. bug nebo feature?

[2015-04-02 00:25] dg opened #274 "Doplnit stránku na Wikipedii"
Bylo by fajn aktualizovat stránku o Nette na anglické wikipedii http://en.wikipedia.org/wiki/Nette_Framework. Mohlo by se tam zmínit i umístění na http://www.sitepoint.com/best-php-framework-2015-sitepoint-survey-results/.

(Stránku na Wikipedii nechci z principu, kvůli nestrannosti, psát sám.)

[2015-04-02 05:27] klimesf commented on #274
Tak to sepíšeme v rámci dokumentačního kroužku :)
Diskusi k článku povedeme na Wiki?

[2015-04-02 20:30] klimesf commented on #274
Bylo by možná potřeba aktualizovat/předělat i českou verzi.

Co se týče struktury anglické verze, rozdělil bych článek na následující kapitoly
 - popisující účel frameworku (Goal)
 - popisující featury a rozdělení frameworku do komponent
 - popisující historii, verze a vývoj Nette (včetně popisu aktivit komunity)
 - data o používání frameworku, seznam společností, které Nette používají (jako zdroj

[2015-04-02 20:50] #253 closed

[2015-04-02 20:57] klimesf opened #275 "Utils: Lépe zdokumentovat Nette\Utils"
ref https://www.youtube.com/watch?v=sP9qs0m74yA
- [x] Přeorganizovat Nette\Utils
- [x] Zdokumentovat další funkce (viz přednáška)

[2015-04-02 21:13] klimesf commented on #275
http://doc.nette.org/en/2.3/strings
Mi přijde zbytečně ploché a navigace příliš dlouhá (na 13" se mi skoro nevejde na monitor). Možná rozdělit do sekcí?

[2015-04-02 21:16] JanTvrdik commented on #275
Je to sice ploché, ale imho se v tom orientuje dobře.

[2015-04-02 21:17] klimesf commented on #275
Zkusím poslat vylepšení :) porovnáme, uvidíme. Minimálně s Regular Expressions je potřeba něco udělat.

[2015-04-02 21:20] klimesf opened #276 "Nette Doc Editor: styles are broken"
Styling of the page is broken (background, padding).

[2015-04-11 00:21] hermajan opened #280 "Debugging: translation of key"
In English documentation is Czech word klávesou instead of key. This bug is in all 2.x branches ([2.3](https://github.com/nette/web-content/blob/doc-2.3/en/debugging.texy#L218), [2.2](https://github.com/nette/web-content/blob/doc-2.2/en/debugging.texy#L208), [2.1](https://github.com/nette/web-content/blob/doc-2.1/en/debugging.texy#L224), [2.0](https://github.com/nette/web-content/blob/doc-2.0/en/d

[2015-04-11 21:27] hermajan commented on #280
Fixed.

[2015-04-11 21:27] #280 closed

[2015-04-16 18:03] klimesf commented on #274
ping @dg, @milo, @chemix, @matej21, @pilec, @JanTvrdik, @Majkl578

[2015-04-16 22:07] chemix commented on #274
do te tabulky verzi bych doplnil kterak jsou aktualizovane a cca do kdy ... vim ze @dg to nejak rikal a neco je napsano na http://nette.org/cs/download

[2015-04-17 13:58] dg commented on #274
Kdo framework konkrétně používá bych určitě do wikipedie nedával. A komponenty nejspíš také ne. A tabulky verzí radějí také ne :-) protože by to bylo potřeba aktualizovat.

[2015-04-17 14:03] klimesf commented on #274
Tak možná jen zmínit obecně charakter společností/projektů, které ho používají?
Co se týče verzí, přepíšu tedy jen obecné schema vývoje [tady odsud](http://phpfashion.com/category/nette/page/2). Ačkoliv, pokud z tabulky odstraním setinkové verze, klidně to každého půl roku sám aktualizuji :)

[2015-04-17 14:23] dg commented on #274
Charakter projektů jsou webové stránky a charakter společností jsou společnosti co mají webové stránky :-)

[2015-04-17 15:33] fprochazka commented on #274
Zmínil bych youtube

[2015-05-02 09:09] klimesf opened #287 "Routing: Route::addStyle() a Route::setStyleProperty() are now deprecated"
ref
http://doc.nette.org/cs/2.3/routing#toc-masky
http://doc.nette.org/en/2.3/routing#toc-styles

[2015-05-03 19:06] Cactucs opened #288 "[EN] Terms of use - broken link in footer"
In the footer of Nette's page is a link to "Terms of use", but it causes 404 error.

I haven't found it in this repo, but it is the best repo where to open this issue.

I think only @dg can fix it.

[2015-05-03 19:14] Cactucs opened #289 "Broken link to examples"
On AJAX & snippets page there is a link to fifteen example on examples.nette.org where is no such a thing. The link can be replaced with link to [source on github](https://github.com/nette/examples/tree/master/Fifteen) (in English the link is already present, in Czech not).

[2015-05-03 19:20] Cactucs opened #290 "Broken link in quickstart/home-page"
There is a broken link in czech translation of "Home page" step of QuickStart tutorial.

It is in this sentence:

The link should be fixed to start with `/`.

[2015-05-04 23:29] chemix opened #291 "better info about fork & pull request"
I found this nice footer on composer page...

![image](https://cloud.githubusercontent.com/assets/42802/7464740/d525fa66-f2c5-11e4-9ad6-2d11fad7d40b.png)

[2015-05-05 14:18] Cactucs commented on #291
:+1:

[2015-05-05 15:02] #289 closed

[2015-05-06 11:58] klimesf commented on #291
:+1:

[2015-05-24 08:52] klepek opened #299 "composer requirements (composer.json) not in sync with documentation"
Hi,

http://doc.nette.org/cs/2.3/requirements states that nette require PHP 5.3.1 or higher where composer.json in nette directory states that it require php 5.3.7 or higher.

Can you please fix (either in documentation or composer.json) this discrepancy?

Thank you

[2015-05-24 12:24] pilec commented on #299
Can you make a pull request please?

[2015-05-24 13:01] dg commented on #299
5.3.1 is correct.

[2015-05-24 19:48] dg commented on #299
Nette 2.3 requires 5.3.1
Nette dev requires 5.4.4
Sandbox requires 5.3.7

[2015-05-24 19:48] #299 closed

[2015-06-01 21:40] matej21 opened #301 "Databaze: spatne info o vytvareni contextu"
http://doc.nette.org/cs/2.3/database#toc-dotazy

vyzaduje IStructure (+ nekolik nepovinnych parametru)

nebo zminovat to vubec, jak ten context vytvorit? bez tech nepovinnych parametru stejne spousta veci fungovat nebude (discovered conventions, accessed cache...) a kdybychom tam uvedli kompletni postup, tak to bude vypadat az moc slozite :)

[2015-06-02 11:10] matej21 commented on #301
a asi uplne presunout info o Contextu az do Database\Table kapitoly, pouziti connection pro queries jiz neni deprecated, takze je zbytecne ho v teto kapitole vytvaret.

[2015-06-02 17:08] Cactucs opened #302 "Terms of use in english"
Právní doložka je v cs, ale chybí anglická verze. Tím vzniká dead link z patičce pro ne-čechy.

[2015-06-07 20:05] matej21 opened #309 "Quickstart: odkazovani na neexistujici presenter"
Od nette 2.3 se zobrazuje warning, tak se to musi trochu predelat: http://doc.nette.org/en/2.3/quickstart/home-page#toc-template

Asi nejdriv vytvorit sablonu bez odkazu a k odkazum se vratit po vytvoreni presenteru.

Nebo jinak?

[2015-06-07 20:08] matej21 commented on #309
ha, to uz je vyreseno #251, #308.. sorry :)

[2015-06-07 20:08] #309 closed

[2015-06-24 21:13] klimesf opened #322 "Add documentation of Nette\Application\UI\Multiplier"
ref http://pla.nette.org/cs/multiplier

[2015-07-10 14:03] mishak87 opened #334 "Latte Default Macros/Filters"
Differentiate what is available when using only Latte and in Nette application.

[2015-07-11 01:08] Majkl578 commented on #288
it's in www branch, here: https://github.com/nette/web-content/blob/nette.org/www/cs/terms-of-use.texy. It needs to be translated first (and probably verified by a translator afterwards since it's a legal document).

[2015-07-11 01:09] Majkl578 commented on #302
Duplicate of #288.

[2015-07-11 01:09] #302 closed

[2015-07-11 01:12] Majkl578 commented on #276
I think this has been fixed now: http://forum.nette.org/en/23685-nette-editor-org-not-working

[2015-07-11 01:12] #276 closed

[2015-07-11 01:15] #290 closed

[2015-07-23 15:48] matej21 commented on #270
ref #350

[2015-07-23 15:48] matej21 commented on #269
ref  #351

[2015-07-23 16:39] #258 closed

[2015-07-23 16:39] #269 closed

[2015-07-23 16:40] #270 closed

[2015-07-23 16:41] matej21 commented on #267
closed by #347

[2015-07-23 16:41] #267 closed

[2015-07-23 16:41] matej21 commented on #266
closed by #346

[2015-07-23 16:41] #266 closed

[2015-07-23 16:45] #257 closed

[2015-07-23 16:46] #264 closed

[2015-07-23 16:47] matej21 commented on #265
closed by #348

[2015-07-23 16:47] #265 closed

[2015-07-23 17:12] matej21 commented on #259
closed by #349

[2015-07-23 17:12] #259 closed

[2015-07-23 17:13] matej21 commented on #263
hm, tak to dame jen na pla(y)nette

[2015-07-23 17:13] #263 closed

[2015-07-23 17:13] #262 closed

[2015-07-23 17:17] matej21 commented on #268
ref #345

[2015-07-23 17:21] matej21 commented on #287
fixed by #305

[2015-07-23 17:46] #287 closed

[2015-07-24 21:57] #268 closed

[2015-07-24 21:57] matej21 commented on #256
closed via #352

[2015-07-24 21:57] #256 closed

[2015-07-24 22:00] matej21 commented on #85
solved: #352

[2015-07-24 22:20] #85 closed

[2015-07-25 09:29] matej21 opened #355 "Konfigurace komponent - kam umistovat?"
Spousta komponent ma zduplikovany informace o konfiguraci, napriklad nette/database:
- http://doc.nette.org/cs/2.3/configuring#toc-databaze
- http://doc.nette.org/cs/2.3/database#toc-vytvoreni-pripojeni

tedy v kapitole o database a pak v kapitole o konfiguraci. Jak toto resit?
1. vsechny informace o konfiguraci by mely byt jak u komponenty, tak na strance konfigurace
2. u komponenty by mely byt z

[2015-07-25 09:37] mrtnzlml commented on #355
Já jsem pro 3. Když hledáš informace o konfiguraci databáze, tak (alespoň já) hledám databázi, nikoliv konfiguraci obecně.

[2015-07-25 09:47] matej21 commented on #355
kdyby 3... melo by vubec smysl tam nechavat tu zakladni konfiguraci? Co takhle tam udelat jen rozcestnik (treba tabulku) s nazvem komponenty a odkazem na konfig?

[2015-07-25 09:50] matej21 commented on #355
ta 1 by byla dobra pro uzivatele, ale driv nebo dyl by se zacly ty informace rozchazet. Jedine ze by tam nekdo naprogramoval reference na kapitoly z jinych clanku, ze by se samy vlozily.. hmm? :D

[2015-07-25 09:55] mrtnzlml commented on #355
Právě kvůli rozcházení informací se mi víc líbí 3. Určitě by bylo fajn, kdyby tam byl dobře viditelný proklik na tu konkrétní konfiguraci, protože to k tomu svým způsobem patří, ale víc bych to nehrotil. Ale lépe ať se k tomu vyjádří ještě někdo jiný...

[2015-07-25 10:23] Unlink commented on #355
Mne by si celkom páčili tie referencie, že by si to písal priamo ku komponente, a tá stránka s konfiguráciou by to len zobrazovala, ak nie, tak potom len odkaz na príslušnú kapitolu danej komponenty.
Pretože tiež som názoru ako martin, že ak hľadám niečo o konfigurácii databázy, tak by som to skôr hľadal tam.

[2015-07-30 18:03] matej21 commented on #301
ref #354

[2015-08-07 08:43] brabijan opened #362 "Add example values to mail configuration"
On page http://doc.nette.org/cs/2.3/configuring#toc-maily should be some examples for smtp mailer. I will send PR later.

[2015-08-08 01:57] Northys commented on #200
@chemix beru si

[2015-08-29 19:01] #261 closed

[2015-08-31 14:40] pavelvondrasek opened #374 "Přidat soupis úložišť pro cache"
Uvést v dokumentaci kompletní seznam úložišť, které jsou k dispozici k cachování. O SQLite není vůbec žádná zmínka. Dobře se mi jeví třeba varianta s tabulkou, kde v jednom sloupci bude název dostupného úložiště a druhého namespace.

[2015-08-31 14:44] pavelvondrasek opened #375 "Zmínit se o Debugger::barDump('some stuff', 'le comment');"
V kapitole debugovaná bohužel chybí jedna killer feature a to Debugger::barDump, bylo by dobré asi zmínit, že vypisuje výsledek proměnné do Tracy debug baru a zároveň, že druhý parametr umožňuje si proměnné komentovat/pojmenovávat.

[2015-08-31 15:50] pavelvondrasek commented on #374
Ještě mě napadlo, že by mohla být i SQLite zmíněno, že defaultně běží in-memory a hodit ukázku i s použitím souboru.

[2015-09-03 12:09] matej21 opened #377 "Rozsireni: prefix u sluzeb v neonu"
https://doc.nette.org/cs/2.3/di-extensions#toc-nacitani-dodatecne-konfigurace
https://forum.nette.org/cs/24225-konfiguracni-soubor-k-extension-a-prefixovani-v-nem

[2015-09-03 16:07] pavelvondrasek opened #378 "Validace formulářových polí"
Možná pro začátečníky dobré zmínit, že kromě defaultních validačních funkcí fomulářového pole lze použít i callback nebo vytvořit vlastní validační funkci. V druhém případě by se hodila u nějaká ukázka, jak to udělat.

[2015-09-03 16:15] pavelvondrasek opened #379 "V kapitole Lokalizace odkázat do addons"
Protože většina začátečníků, kteří na fóru mají problém pochopit i namespace, si asi nenapíše svůj vlastní translation, tak by asi bylo dobré zmínit alespoň odkaz na addons, že tam jsou příklady translationů. Případně možná by bylo lepší zmínit přímo Kdyby/Translation, ale to asi neprojde :D

[2015-09-03 16:45] milo opened #382 "caching: IStorage inject example"
`IStorage` is often injected to services. Write example how to do it.

[2015-09-03 18:13] #375 closed

[2015-09-03 18:29] racinmat opened #386 "Configuring: better description for DI"
better description for
DI#

di:
    debugger: true  # aktivuje panel v Debugger baru
(in title would be bette Dependency Injection and that which panel will be activated)

[2015-09-03 18:31] pavelvondrasek opened #387 "Vytvořit vlastní kapitolu služeb"
Přesunout do ní obsah získávání závislostí a konfigurace.
Zmínit výhody a nevýhody služeb.
Také chybí vysvětlení, jak lze pomocí @ odkazovat na jiné služby.

[2015-09-04 00:06] #200 closed

[2015-09-04 12:44] #382 closed

[2015-09-10 10:13] greeny commented on #377
Problem still persist, since there are references to services through @ notation (e.g. @blog.articles)

[2015-09-10 10:32] Majkl578 commented on #377
ping @matej21

[2015-09-10 10:37] matej21 commented on #377
I'm afraid there is currently no solution. Maybe we should revert it for now.

[2015-09-10 11:58] greeny commented on #377
My idea:
1) remove dynamic references completely (all @connection and @blog.foo references)
2) add a note that DI Container will autowire parameters with typehint
3) add a paragraph (or another note) where will be shown, how to wire parameters without typehint (basically the thing we removed in point 1 )
ping @matej21

[2015-09-21 18:30] matej21 opened #389 "Formulare: parametry validacnich pravidel"
pridat do tabulky, kde jsou uvedeny validacni pravidla, jejich parametry

[2015-09-21 20:19] matej21 opened #390 "Presentery: ukonceni behu"
sekce https://doc.nette.org/cs/2.3/presenters#toc-ukonceni-presenteru
- pridat sendJson
- pridat `error()`
- varovani, ze ty metody vyhodeji AbortException, a proto si musime dat pozor, abychom ji nechytali

[2015-09-30 12:17] Keeehi opened #392 "defaultní out filter"
Dle commitu [448749a](https://github.com/nette/application/commit/448749a558eb4cf50c4bc6e3e31aa104597349df) bych řekl, že defaultním out filtrem není rawurldecode ale [param2path](https://github.com/nette/application/blob/master/src/Application/Routers/Route.php#L768-L771)

[Řádek kde je to asi špatně](https://github.com/nette/web-content/blob/doc-2.3/cs/routing.texy#L380)

[2015-11-05 12:41] alesculek opened #394 "Opening editor url handler under gnome (ubuntu)"
Hi,

I have update to opening editor:// url handler under gnome (on ubuntu). **The way with gconftool-2 didn't work for me**.

I've found solution. I want to send PR, but I don't know if solution on website is working for someone?
https://pla.nette.org/cs/jak-otevrit-soubor-z-debuggeru-v-editoru

**Solution for me**

1) Create desktop entry

[code]

insert following (set path to your editor.sh scr

[2015-11-23 23:39] lukasojd opened #398 "Zapnutý debug mod na doc.nette.org"
http://awesomescreenshot.com/06a5ffgf42

- špatný příklad pro nováčky, kterým by se mělo vtloukat že debug mod na livu musí mít vypnutý... !!!
- security problém

[2015-11-23 23:42] Northys commented on #398
@lukasojd ty vole ty jsi na to přišel! na posobotu toho dones trošku, dáme čáru :+1:

[2015-11-23 23:44] matej21 commented on #398
no opravdu to tam je! to je do nebe volajici opomenuti! :scream:

[2015-11-24 03:32] milo commented on #398
Je to jen statická ukázka Tracy baru. Nic z toho nelze vyčíst.

[2015-11-24 03:32] #398 closed

[2015-11-24 09:29] dg commented on #398
Easter egg

[2015-11-24 21:13] matej21 commented on #398
a ted konstruktivne: za ten ~tyden, co tam je, se na to na gitteru ptalo spousta lidi, takze to opravdu mate. U pokrocilych to muze vyvolat pocit, ze to nekdo nezodpovedne nechal zapnute. U zacatecniku to muze zas vyvolat pocit, ze asi neni tak kriticke ten debug mod vypinat, kdyz je to i na nette.org. Minimalne by tam melo byt napsano, ze se jedna o demo. A ma vubec cenu to davat i jinde, nez na

[2015-11-24 22:39] Majkl578 commented on #398
Souhlasím.
Na *nováčky* to může mít naopak opačný efekt, kdy si řeknou: *Tyjo tenhle framework je ale bezpečnostní díra, když i na vlastním webu mají zaplé debugovací nástroje.*
Chápu trolling uživatelů, nicméně na celém webu je to nemístné. Nemluvě o tom, že to vlastně ani nefunguje jak má (chybí javascript) .

[2015-11-25 09:25] janedbal opened #399 "Tester: parallel running of tests"
Docs says *"Later we learn that tests run in parallel."*, but what is running in parallel? Each test file? Each TestCase class? Each test method in TestCase class? This is very very important information.

[2015-11-25 09:45] milo commented on #399
Doc would deserve some update on this topic.

In parallel applies on test files. And when TestCase uses `@testCase`, it applies to every TestCase `testMethod()` too.

[2015-11-30 10:36] Machy8 opened #401 "Článek: Rozšíření pro DI kontainer => odkaz => stránka nenalezena"
Odkaz **"některá uživatelská nastavení"** na konci článku v části _afterCompile()_ odkazuje na neexistující stránku.

[Odkaz na článek](https://doc.nette.org/cs/2.3/di-extensions)

[2016-01-07 00:48] landsman opened #409 "Quickstart: Nepřesnost - přihlašovací formulář"
V kapitole: https://doc.nette.org/cs/2.3/quickstart/authentication#toc-prihlasovaci-formular se mluví o metodě createComponentSignInForm v presenteru SignPresenter, která by měla obsahovat formulář, ten je však volán až z továrničky SignFormFactory (/app/forms/SignFormFactory.php) metodou create.

[2016-05-06 15:01] JanPetr opened #431 "Add search to the documentation"
Hi guys,

I have always struggled searching the documentation of Nette. So I added the search feature based on [Algolia's DocSearch](https://community.algolia.com/docsearch/).
### Demo

https://demo.algolia.com/nette/
### Frontend

All you have to do is put small piece of code to the documentation. Code uses new version of [Algolia's DocSearch plugin ](https://github.com/algolia/docsearch) and som

[2016-05-12 21:25] dg commented on #431
:+1:

[2016-05-13 11:59] JanPetr commented on #431
So cool seeing @dg's approving. Does that mean we could see it in production? :boom:

[2016-05-13 13:07] dg commented on #431
I hope so, I will get to working on the website next week.

[2016-05-19 20:07] Myiyk commented on #401
Link na nejpodobnější aktuální kód je https://api.nette.org/2.4.0/source-DI.Extensions.DIExtension.php.html#49-75

[2016-05-22 19:30] JanGalek opened #446 "Route::$defaultFlags deprecated"
Route::$defaultFlags are deprecated - https://github.com/nette/application/commit/e04c0e169682d82033b83e8f88001ef9a0e4a372

How I can use now ?

[2016-05-22 20:00] dg commented on #446
This is not support forum https://forum.nette.org/cs/26357-route-secured-a-defaultflags-v-https-pod-nette-2-4

[2016-05-22 20:00] #446 closed

[2016-05-22 20:34] Myiyk commented on #446
But in documentation is $defaultFlags used 3x in czech version and 2x in english
https://github.com/nette/web-content/blob/doc-2.4/cs/routing.texy#L323

[2016-05-22 20:37] dg commented on #446
There is no stable Nette and branch 2.4 is currently identical copy of 2.3.

[2016-05-22 21:19] #362 closed

[2016-05-22 22:14] #229 closed

[2016-05-22 22:59] dg commented on #409
@Studioartcz can you send pull request?

[2016-05-22 23:00] dg commented on #401
@Machy8  can you send pull request?

[2016-05-22 23:01] dg commented on #392
@Keeehi  can you send pull request?

[2016-05-22 23:01] dg commented on #390
@matej21  can you send pull request?

[2016-05-22 23:01] dg commented on #386
@racinmat  can you send pull request?

[2016-05-22 23:01] dg commented on #379
@pavelvondrasek  can you send pull request?

[2016-05-22 23:02] dg commented on #322
@klimesf  can you send pull request?

[2016-05-23 08:14] Machy8 commented on #401
[Here](https://github.com/nette/web-content/pull/448). I wasn't sure how to wrote the link correctly, so I used the link @Myiyk added in his comments.

[2016-05-23 12:33] klimesf commented on #322
@dg I'm sorry, I have been swamped lately (see my [current streak](https://github.com/klimesf)), and I will be at least for the next month. I can send the PR then, if someone else doesn't fix this in the meantime.

[2016-05-25 19:18] CZechBoY opened #449 "Translate quickstart/model from Czech to English"

[2016-05-25 21:49] dg commented on #449
:+1: good luck

[2016-05-26 16:15] JanPetr commented on #431
@dg Any progress? Meanwhile I updated our scraper and the demo to reflect 2.4 version 🆕

[2016-06-10 22:14] matyx opened #453 "Broken link in autoloading section"
https://doc.nette.org/cs/2.4/auto-loading - link to API in sidebar doesn't work

[2016-07-03 10:51] vkotek commented on #449
Not sure if this is the right place to mention this, but there are two wrong paths in EN quickstart/single-page. Specifically, it says "app/template/Post/" where it should be "app/presenters/template/Post/" as in the CS version.

[2016-08-29 10:41] kucix opened #463 "Chybí requirements checker"
https://doc.nette.org/cs/2.4/requirements
Na stránce je zmiňován requirements checker ke stažení v balíčku nette...

V adresáři tools je jen open-in-editor

[2016-08-29 11:16] dg commented on #463
Can you send PR?

[2016-08-29 11:44] kucix commented on #463
I don't know where requirements checker is.
I can found him only in 2.3 branch (an older), but i don't know where is for 2.4 branch.
Maybe is not issue for web-content, but for nette itself.

[2016-08-29 11:56] dg commented on #463
It is now in Sandbox https://github.com/nette/sandbox/tree/master/www/checker

[2016-08-30 16:26] #463 closed

[2016-09-08 10:26] f3l1x commented on #453
It looks like it's fixed.

[2016-09-08 10:53] f3l1x commented on #409
ping @Studioartcz

[2016-09-08 11:30] matyx commented on #453
You are right, it is working now.

[2016-09-08 11:30] #453 closed

[2016-12-06 16:32] f3l1x opened #478 "Mail: document FallbackMailer"
It appears in nette/mail 2.4 - https://api.nette.org/2.4/Nette.Mail.FallbackMailer.html

[2017-01-10 11:41] f3l1x opened #487 "Main migration page"
We have a lot of migration pages and probably there will be more.

- https://doc.nette.org/cs/2.4/migration-2-4
- https://doc.nette.org/cs/2.4/migration-2-3
- https://doc.nette.org/cs/2.4/migration-2-2
- https://doc.nette.org/cs/2.4/migration-2-1

It might be useful have a one special page (`main page`) for this migrations. What do you think?

[2017-01-18 13:00] foxycode opened #488 "Create doc-3.0 branch"
Can you please create doc-3.0 branch so I can send PR? Or is any way how to send PR to non-existing branch?

[2017-01-18 14:24] dg commented on #488
Done.

[2017-01-28 09:57] lentilcz opened #491 "php-language-enhancements: volitelný getter?"
V dokumentaci se píše:
`Getter i setter je volitelný, mohou tedy existovat read-only nebo write-only property`

nemá být getter poviný (read-only) a setter volitelný (read-write)? Nevim jak je to v kódu Nette, ale pokud je getter volitelný, tka nechtělo by to opravit?

[2017-01-29 23:05] Myiyk commented on #491
Může být pouze setter bez getteru. Aby šlo jenom nastavit hodnotu, ale nejde ji číst.

Např. heslo, to lze jenom nastavit a potom porovnávat, ale nelze jej číst (v plain-text podobě).

[2017-01-29 23:39] #491 closed

[2017-02-13 11:45] f3l1x opened #493 "DI: document autowiring options (no, self, interface)"
Leave a not about autowiring.

- [x] autowired: no
[code]

- [ ] autowired: self
[code]
- [x] autowired: [class, interface]
[code]

Maybe only for nette 2.4.

[2017-02-13 15:47] f3l1x opened #494 "DI: document alteration option for service"
[code]

[2017-02-14 12:44] f3l1x opened #496 "Utils: add page about DateTime"
- `DateTime::from`
- `DateTime::fromParts`
- `DateTime::modifyClone`
- `DateTime::setTimestamp`
- `DateTime::getTimestamp`
- `DateTime::createFromFormat`
- `DateTime::jsonSerialize`

-----

https://api.nette.org/2.4/Nette.Utils.DateTime.html

[2017-02-14 22:56] medhi commented on #449
It's done, isn't it?

[2017-02-14 22:59] medhi opened #497 "Close all issues regarding 2.3?"
Or should be these resolved?

[2017-02-16 17:29] #449 closed

[2017-02-20 14:05] f3l1x commented on #488
@foxycode So close up?

[2017-02-20 14:06] #488 closed

[2017-02-20 17:01] foxycode commented on #488
Yes, solved, thanls.

[2017-02-24 18:03] dg commented on #497
Delete repository nette/doc, recreate nette/doc, disable issue tracker.

[2017-02-25 23:05] lukasneubauer opened #501 "Let´s add automatic spell checking tool and hook it in travis ci"
I guess that we could include some kind of automatic grammar checker, for both the czech and english `.texy` files, probably as a command line tool or script, and add it in `.travis.yml` to ensure, that at least the most common spelling mistakes will not get in the public release of the docs.

The problem though is that I myself have no idea or knowledge, at least at this point in time, of any suc

[2017-04-26 12:30] martinsifra opened #511 "Latte: missing webalize filter"
Is there any reason why description of `webalize` filter was dropped? In previous version was mentioned and there was no mention about it in releases.

[2017-04-26 12:32] dg commented on #511
It is not in pure Latte, it is only in presenters.

[2017-04-26 13:00] martinsifra commented on #511
Ha, I thought so. I've tried to find some mention in current version but without success. Maybe we should to mention this feature somewhere. Any ideas?

[2017-05-03 08:04] #392 closed

[2017-05-28 17:06] f3l1x opened #521 "Drop addons-portal branch"
Hi. I was wandering about branch `addons-portal`. Is it any purpose for this branch at this moment? Shouldn't we remove it?

[2017-05-28 17:10] dg commented on #521
dropped

[2017-05-28 17:10] #521 closed

[2017-06-23 10:16] f3l1x opened #528 "DI - remove deprecated extending service"
According to forum post: https://forum.nette.org/cs/28875-dedeni-sluzeb-spatne-odsazeni-bad-indentation

[code]

[2017-06-23 10:37] f3l1x commented on #355
Co udelam s timhle? :-)

Rekl bych, ze vic intuitivni je mit konfiguraci u jednotlivych komponent. Clovek treba ani nevi, jaky vsechny komponenty nette ma a spis narazi na nette/database nez na stranku konfigurace, kde bude spousta informaci.

Co na to @dg @chemix ?

[2017-06-23 11:07] #528 closed

[2017-06-23 11:24] f3l1x commented on #494
Thanks @dg

Closed via e281d4395dd5417c477c5ca6dc2b792edead85b9

[2017-06-23 11:24] #494 closed

[2017-06-23 20:37] chemix commented on #355
Tady je jen potreba dat vedet ze to je konfigurace s DI v Nette aplikaci a pak mi dava smysl to mit u te komponenty

[2017-06-26 05:30] f3l1x commented on #44
Is it still relevant or we can close it?

[2017-06-26 05:47] JanTvrdik commented on #44
@f3l1x Please don't spam random issues with pointless questions. Comment only if your comment adds value, otherwise you're just creating noise and wasting valuable type of [many people](https://github.com/nette/docs/watchers).

Example of valuable comment „I this should be closed, because <your reasons>“. Or (less useful, but better that your comment) „I think that this is important, because <your

[2017-06-26 05:57] f3l1x opened #533 "Roadmap - big boom update"
Hi.

I'm going to focus on documentation and improvements in next following weeks/months. I'll try to solve all related issues. Document all new stuff, remove all deprecated stuff and many other things.

You known I have my own job as many others here, so I can't set up deadlines, but I can set up roadmap.

I gladly see you join me on my journey.

-----

![](https://i.imgflip.com/1rilzl.jpg)

----

[2017-06-26 06:05] f3l1x commented on #44
@JanTvrdik Oh sorry, I didn't want to be mean. This issue is so old and I don't get a point or have the whole context. My intention was to make some activity and resolve (discuss, close or what..) old issues.

I try to better: I think this should be closed, because it's not relevant for me anymore.

[2017-06-26 06:28] f3l1x opened #535 "[2.3] Nette\Database - missing 2nd parameter in Context"
Origin: https://forum.nette.org/en/25741-outdated-nette-database-documentation-missing-2nd-param-for-context

[2017-06-26 06:34] matej21 commented on #535
v ceske verzi je to opravene https://github.com/nette/docs/commit/2d45f26098007667fa989beb3e1b36e2f010b809 bohuzel jsem pres veskere sliby nedodal EN verzi. zkusim to aspon najit a pushnout, at na tom nekdo muze stavet

btw, imho je zbytecna prace fixovat neco proti 2.3 verzi

[2017-06-26 06:39] f3l1x commented on #535
No, asi bych do 2.3 nedaval nove veci, ale kdyz uz to nekdo zmini, tak bych to fixnul. Klidne to backportuju ;-) Ale jestli najdes cas, tak to bude super.

[2017-06-26 06:55] f3l1x commented on #511
I've found it only on `Strings` page (https://doc.nette.org/cs/2.4/strings#toc-webalize).

Where would you mention it @martinsifra?

[2017-06-26 06:58] f3l1x commented on #81
I think this could be closed, because the czech translation is already added and also some english typos.

bad5e2a
37dc6d5
aa2bf14

[2017-06-26 08:24] #44 closed

[2017-06-26 08:25] dg commented on #533
Thank you, it is awesome!!!

[2017-06-26 11:13] f3l1x commented on #223
I think we can close it, because this page already exists.

https://doc.nette.org/en/2.4/migration-2-3

[2017-06-26 11:21] f3l1x commented on #496
Already added, thanks @Barabrossa.

[2017-06-26 11:21] #496 closed

[2017-06-26 11:49] #223 closed

[2017-06-26 11:59] f3l1x commented on #497
I will try to go through all issues, pick all ideas and points and close them afterwards.

[2017-06-26 12:01] #487 closed

[2017-06-26 14:08] f3l1x commented on #409
@landsman Ahoj, mrknes prosim na to a posles PR? :-)

[2017-06-26 14:09] f3l1x commented on #374
@pavelvondrasek Muzes prosim sepsat typy ulozist? :-)

[2017-06-26 14:11] dg commented on #409
Protože Quickstart už nevychází ze Sandboxu, chce to jen změnit

[code]

na

[code]

[2017-06-26 14:28] #409 closed

[2017-06-26 15:08] f3l1x commented on #291
@chemix Could you please make some sketch? :-)

[2017-06-26 15:12] f3l1x commented on #288
I will translate it. :-)

[2017-06-26 17:00] premekkoch commented on #533
@f3l1x Will you mentor me, if I join?

[2017-06-26 17:46] f3l1x commented on #533
Sure, happy to see you buddy. It will be long-loong journey ;-)

[2017-06-26 18:56] dg commented on #291
IMHO current `Vylepšit tuto stránku` is enough.

[2017-06-26 19:10] chemix commented on #291
![image](https://user-images.githubusercontent.com/42802/27555899-ce2a8ecc-5ab3-11e7-8c17-0dd0fa761bb0.png)

[2017-06-26 19:10] #291 closed

[2017-06-26 20:43] revager29 commented on #533
I would like to help if my knowledge is enough :)

[2017-06-27 06:16] f3l1x commented on #291
![documentation___nette_framework](https://user-images.githubusercontent.com/538058/27573193-e9f456da-5b10-11e7-8a0a-53da567382c8.png)

Maybe some spacing @dg

[2017-06-27 07:02] f3l1x commented on #533
@revager29 You're welcome. Join us at our journey!

[2017-06-27 07:21] f3l1x commented on #379
I've prepared a PR.

[2017-06-27 07:46] f3l1x commented on #401
I'm not sure, but it's solved @Machy8?

[2017-06-27 07:54] f3l1x commented on #387
Neni to jedna z techto?

- https://doc.nette.org/cs/2.4/configuring
- https://doc.nette.org/cs/2.4/dependency-injection
- https://doc.nette.org/cs/2.4/di-usage
- https://doc.nette.org/cs/2.4/di-extensions

Me prijdou docela dostacujici. Co ti tam chybi @pavelvondrasek ?

[2017-06-27 07:55] vlastavesely commented on #394
Have you tried a tool that is already part of Tracy?
https://github.com/nette/tracy/tree/master/tools/open-in-editor

[2017-06-27 07:55] f3l1x commented on #386
Adding more context for the future.

https://doc.nette.org/en/2.4/configuring#toc-di-container

![selection_015](https://user-images.githubusercontent.com/538058/27576862-c8586260-5b1e-11e7-8e26-9b65a98f6346.png)

[2017-06-27 07:56] f3l1x commented on #386
@dg Maybe we can add some screenshot to that section? WDYT?

[2017-06-27 07:57] f3l1x commented on #378
Dobry napad.

[2017-06-27 07:59] f3l1x commented on #377
IMHO we can reference to other service with FQN, right @matej21?

[2017-06-27 08:01] f3l1x commented on #355
To bude vyzadovat docela dost uprav. =/

[2017-06-27 08:19] Machy8 commented on #401
@f3l1x It was merged in merged https://github.com/nette/docs/pull/448 :)

[2017-06-27 08:19] f3l1x commented on #401
Cool. Thanks.

[2017-06-27 08:19] #401 closed

[2017-06-27 08:45] f3l1x commented on #272
S dovolenim to zaviram, protoze to moc nesouvisi s dokumentaci. Pripadne bych to doresil na foru, pokud je to stale aktualni. @dg toho tedka upravuje stejne vice.

[2017-06-27 08:45] #272 closed

[2017-06-27 08:48] f3l1x commented on #81
Right @Majkl578 ?

[2017-06-27 09:00] f3l1x commented on #247
- anglicka mutace (:hammer:) https://doc.nette.org/en/2.3/quickstart
- projit funkcnost (:hammer:)

V aktualni moment zaviram, pokud se objevi nejaka nove chyba, klidne otevrete konkretni issue.
Diky moc. :+1:

[2017-06-27 09:00] #247 closed

[2017-06-27 09:10] f3l1x commented on #497
Done. All issues have corresponding labels and some of them are closed now. Thank you @medhi.

[2017-06-27 09:10] #497 closed

[2017-06-27 09:26] f3l1x commented on #533
## Status update 26.6.2017

Yesterday I have prepared a lot of PR's to synchronize QuickStart and many other typos.

PR:
- #531
- #534
- #536
- #537
- #538
- #539
- #540
- #541
- #542
- #543 (pending) [:hourglass:]
- #532 (pending) [:hourglass:]

## Status update 27.6.2017

Today a few more PR's has to come up.

PR:
- #545 (pending) [:hourglass:]
- #544 (pending) [:hourglass:]

Bigger thing, I've

[2017-06-27 22:31] dg commented on #272
Tohle je detail, na který kašlu.

[2017-06-27 22:54] dg commented on #386
DI panel is active by default in Nette 2.4

[2017-06-27 22:57] dg commented on #377
Imho solved by https://github.com/nette/di/pull/85

[2017-06-27 22:58] #81 closed

[2017-06-28 06:30] f3l1x commented on #288
Closed via #544

[2017-06-28 06:30] #288 closed

[2017-06-28 07:15] #249 closed

[2017-06-28 07:27] f3l1x commented on #535
@matej21 Ujmes se toho? Muzu te priradit?

[2017-06-28 08:12] f3l1x commented on #201
Already in:

![selection_021](https://user-images.githubusercontent.com/538058/27626958-4d5850f8-5bea-11e7-9f1d-91a1caa9de49.png)

![selection_020](https://user-images.githubusercontent.com/538058/27626955-4ad6b252-5bea-11e7-8e0b-0c33c5661310.png)

[2017-06-28 08:12] #201 closed

[2017-06-28 08:15] f3l1x commented on #240
@dg I think there's correct `E_NOTICE`, WDYT?

https://github.com/nette/docs/blob/nette.org/tracy/en/homepage.texy#L92

[2017-06-28 08:26] f3l1x commented on #377
It looks like it's solved in code but not in docs, right?

[2017-06-28 08:28] f3l1x commented on #377
[code]

to:

[code]

[2017-06-28 08:37] dg commented on #377
I think yes. @matej21?

[2017-06-28 08:58] f3l1x commented on #238
What kind of real component do you mean? What about link to @componette. @klimesf

[2017-06-28 11:44] dg commented on #240
Seems correct.

[2017-06-28 11:44] #240 closed

[2017-06-28 12:41] #379 closed

[2017-06-28 13:14] f3l1x commented on #535
Related: https://github.com/nette/docs/issues/535

[2017-06-28 13:33] f3l1x commented on #535
Pokusil jsem se sesynchronizovat EN/CZ verzi u database-table.

#547

[2017-06-28 13:33] f3l1x commented on #535
S @dg jsme se shodli, ze to nejspis nema cenu upravovat ve 2.3 apod. Jestli jste pro.

[2017-06-28 16:22] chemix commented on #378
Tenhle radek tam je leta co pamatuji:

Můžeme si také přidat vlastní validátory. Metody addRule() a addCondition() totiž jako název pravidla akceptují callback:

https://doc.nette.org/cs/2.4/forms#toc-validace

[2017-06-28 16:45] f3l1x commented on #378
@chemix Mas recht, tim padem je to jasne.

[2017-06-28 16:45] #378 closed

[2017-06-29 08:34] dg opened #550 "HTTP: document CSP support & nonce"
In documentation is missing https://forum.nette.org/en/27918-nette-framework-2-4-2017-01-19

[2017-06-29 12:46] f3l1x commented on #46
Fixed in many branches. Thanks for reporting. ;-)

Feel free to open new issues.

:+1:

[2017-06-29 12:46] #46 closed

[2017-06-29 12:49] f3l1x commented on #533
## Status update 29.6.2017

Today's good day. All tickets (2) there were in plan in June are solved. Good job guys.!

I'm just collecting all data for next month. QuickStart.

[2017-07-03 10:43] f3l1x commented on #301
Rekl bych, ze jsem to odbavil. Muzes na to @matej21 mrknout? Pripadne @dg co myslis?

[2017-07-03 10:45] f3l1x commented on #533
## Status update 03.07.2017

Hello guys, I have been overwhelmed a couple days ago, cause I was moving into the new house.

A few things to this month:

- [ ] prepare quick start for Nette 2.3 (Personally I think it's gonna be fast & furious. Not any special things, just create branch and synchronize all necessary stuff). **Who want to do that?**

- [ ] resolve some bootstrap issues
    - [ ] #217

[2017-07-03 10:53] matej21 commented on #301
:+1:

[2017-07-03 10:53] #301 closed

[2017-07-03 11:09] dg commented on #533
I pushed quickstart v2.3 https://github.com/nette/tutorial-quickstart/tree/v2.3. The problem is that tutorial is written for old version of sandbox without SignFormFactories. So it is needed to fix chapter about authorization.

[2017-07-03 11:10] f3l1x commented on #533
@dg Thanks. We'll take care about it. :-)

[2017-07-03 11:56] dg commented on #533
The question is, whether it really make sense to invest energy into the quickstart for 2.3. Isn't it better to simply delete it and link to 2.4?

[2017-07-11 16:46] f3l1x commented on #535
Ping @matej21.. :question:

[2017-07-11 16:47] f3l1x commented on #374
@srigi Nechtel by ses toho ujmout? :-)

[2017-07-12 09:10] nufue opened #555 "Json - add information about sendResponse(new JsonResponse)"
Current JSON documentation page only contains info about Nette\Utils\Json class, but I think it would be useful if it mentioned how to send a Json response from the presenter. The idea came from [this forum thread](https://forum.nette.org/en/29005-how-to-make-a-json-webservice-from-presenter).

[2017-07-12 10:59] f3l1x commented on #555
Thanks @nufue.

-----

What do you think @dg?

[2017-07-12 12:21] dg commented on #555
Let's go

[2017-07-12 12:52] f3l1x commented on #555
@nufue Could you prepare a PR? :-)

[2017-07-12 13:01] nufue commented on #555
@f3l1x PR #556 created

[2017-07-15 12:56] f3l1x commented on #535
Resolved.

[2017-07-15 12:56] #535 closed

[2017-07-15 13:04] f3l1x commented on #260
I think is already mentioned.

- https://doc.nette.org/cs/2.4/configuring#toc-security
- https://doc.nette.org/cs/2.4/access-control#toc-pouziti-v-aplikaci

I'll update a few tiny things.

[2017-07-15 13:55] f3l1x commented on #387
ping @pavelvondrasek

[2017-07-15 14:17] f3l1x commented on #275
Missing methods:

- [ ] substring
- [ ] normalizeNewLines
- [ ] toAscii
- [ ] firstLower
- [ ] findPrefix
- [ ] reverse
- [ ] before
- [ ] after
- [ ] indexOf

[2017-07-15 17:07] f3l1x commented on #322
Already resolves by https://github.com/nette/docs/pull/558

[2017-07-15 17:07] #322 closed

[2017-07-15 19:06] f3l1x commented on #217
It is BIG ROCK, but I am king-of-the-hill!

![](https://i.imgflip.com/1rqh4p.jpg)

[2017-07-15 19:42] f3l1x commented on #217
Oh, we're almost there.

[2017-07-15 19:50] f3l1x commented on #203
I think it's already mentioned:

- https://doc.nette.org/cs/2.4/di-usage#toc-presenter-jako-sluzba
- https://doc.nette.org/en/2.4/di-usage#toc-presenter-as-a-service

[2017-07-15 19:50] #203 closed

[2017-07-15 20:03] f3l1x commented on #210
It's already mentioned:

- https://doc.nette.org/cs/2.4/database-core#toc-insert-update-delete
- https://doc.nette.org/en/2.4/database-core#toc-insert-update-delete

[2017-07-15 20:03] #210 closed

[2017-07-15 20:09] f3l1x commented on #216
Adding anchors:

- https://github.com/nette/database/blob/master/tests/Database/SqlPreprocessor.phpt#L452
- https://github.com/nette/database/blob/master/tests/Database/SqlPreprocessor.phpt#L429
- https://github.com/nette/database/blob/master/tests/Database/SqlPreprocessor.phpt#L398

[2017-07-16 13:51] f3l1x commented on #221
It's already mentioned in migration page, I think it's ok.

- https://doc.nette.org/cs/2.4/migration-2-3#toc-database
- https://doc.nette.org/en/2.4/migration-2-3#toc-database

[2017-07-16 13:51] #221 closed

[2017-07-16 13:57] f3l1x commented on #231
It means:

[code]

[2017-07-16 13:58] f3l1x commented on #239
According to @dg blogpost on forum:

- víceméně stačí odstranit deprecated věci jako práci s $containerem
- odstranil bych i sekci Masky, protože to je static hell a netřeba k tomu nikoho navádět
- Píšeme vlastní router je asi příliš stručné
- opět chybí nové features jako callback pro všechny parametry nebo proměnné s doménou

[2017-07-16 14:02] f3l1x commented on #228
I'm not sure what do you mean.

Something like this?

[code]

WDYT @dg?

[2017-07-16 15:03] f3l1x commented on #244
Database is completely rewritten, we can close it, right @dg?

[2017-07-16 16:20] dg commented on #244
It's just a bit rewritten, it still requires a lot of work, but the issue is of course unnecessary.

[2017-07-16 16:20] #244 closed

[2017-07-16 16:32] dg commented on #228
rather
[code]

[2017-07-16 16:34] dg commented on #225
It is unfortunately not rewritten, just a little glued.

[2017-07-16 16:49] #377 closed

[2017-07-16 17:02] f3l1x commented on #225
But you get my point ;-) Right?

[2017-07-16 17:10] dg commented on #225
Yes.

[2017-07-16 18:19] f3l1x commented on #260
Related with: https://github.com/nette/docs/pull/563

[2017-07-16 18:19] #260 closed

[2017-07-16 20:34] #243 closed

[2017-07-17 05:11] f3l1x commented on #217
Resolved via #570

[2017-07-17 05:11] #217 closed

[2017-07-17 06:30] premekkoch commented on #374
beru

[2017-07-17 06:34] f3l1x commented on #374
Super, to mam velku radost! 👍

Jedna se o stranku: https://doc.nette.org/cs/2.4/caching#toc-uloziste

Prehled vsech ulozist je zde v API: https://api.nette.org/2.4/namespace-Nette.Caching.Storages.html

Nejspis bych tam udelal tabulku storages s nejakym tipem na co je pouzit (par slov).

Tim padem pak muzes poupravit tenhle text, pripadne smazat.

[code]

Klidne zaci jenom CZ verzi a uvidime, jak

[2017-07-17 06:45] f3l1x commented on #211
@dg At koukam, jak koukam, v dokumentaci jsem nic nenasel. Ze by to uz nebylo relevantni? :-)

[2017-07-17 07:14] f3l1x commented on #533
@dg I think it is, I handle it, it scares me in my dreams. :-D

[2017-07-17 07:20] f3l1x commented on #533
# Status update 17.07.2017

It has been an one hell of the weekend. I've finally moved in, I've finally internet connection, so I am alive again.

We solved a few tickets during these days:

- https://github.com/nette/docs/issues/244
- https://github.com/nette/docs/issues/225
- https://github.com/nette/docs/issues/260
- https://github.com/nette/docs/issues/217
- https://github.com/nette/docs/issue

[2017-07-17 08:38] f3l1x commented on #245
@dg Includeblock ma potencialni XSS zranitelnost nebo uz je to fixed?

[2017-07-17 10:11] #204 closed

[2017-07-17 11:16] dg commented on #245
Od 2.4 fixed.

[2017-07-17 11:16] #245 closed

[2017-07-17 12:59] f3l1x commented on #213
- Html::data() - https://doc.nette.org/cs/2.4/html-elements

V HTML 5 lze používat tzv. datové atributy pro uživatelská data:

<img src="img.jpg" data-max-size="500x300" />
Obvykle pak hodnoty těchto atributů využívá JavaScript. A fungují ve všech prohlížečích.

Třída Html disponuje přímou podporou pro datové atributy z HTML5:

$el = Html::el('img');
$el->data['max-size'] = '500x300';
// nebo
$el-

[2017-07-17 13:13] dg commented on #213
`$el->data['max-size'] = '500x300';` is deprecated

[2017-07-17 13:30] f3l1x opened #576 "Arrays - translate missing methods"
Commit: https://github.com/nette/docs/commit/75b11cb21af096c0460e9bc28f13532eb916ef2c

[2017-07-17 13:30] f3l1x commented on #576
Assigned to: https://github.com/landsman ;-) Thanks bro.

[2017-07-17 13:38] f3l1x commented on #374
Assigned to: @premekkoch

[2017-07-17 13:41] f3l1x commented on #222
Tim je mysleno:

[code]

WDYT @dg?

[2017-07-17 13:49] f3l1x commented on #555
Thank you @nufue for PR and @dg for correction.

[2017-07-17 13:49] #555 closed

[2017-07-17 15:20] f3l1x commented on #386
Well, `DI container` is better then `DI` and which panel will be activated is mentioned also.

I'm closing this. Feel free to create another issue. Thanks @racinmat

[2017-07-17 15:20] #386 closed

[2017-07-17 15:24] f3l1x commented on #227
@dg Jsou podle tebe v database sekci nejaky deprecated veci? Pripadne nevim co znamena "undeprecated" (jakoze byly deprecated a uz nejsou?).

[2017-07-17 15:30] f3l1x commented on #230
Duplicate of https://github.com/nette/docs/issues/219

[2017-07-17 15:30] #230 closed

[2017-07-18 06:59] srigi commented on #374
Hello @f3l1x, sorry za delay, uhorkova sezona/dovolenka. Momentalne (nasledujuce dva tyzdne) na toto nebudem mat cas. Musim sa vymotat z inych povinnosti.

[2017-07-18 07:31] f3l1x commented on #374
V pohode, az budes ready napis ;-)

[2017-07-18 16:50] premekkoch commented on #374
@f3l1x https://github.com/nette/docs/pull/578

[2017-07-19 08:59] f3l1x commented on #374
Resolved by #578

[2017-07-19 08:59] #374 closed

[2017-07-19 09:07] f3l1x commented on #511
Well, I think that we could mention that [these filters are added in TemplateFactory](https://api.nette.org/2.4/source-Bridges.ApplicationLatte.TemplateFactory.php.html#82-95).

- normalize
- toAscii
- webalize
- reverse

[2017-07-19 09:43] f3l1x opened #580 "Neon - translate to czech"
Web: https://doc.nette.org/cs/2.4/neon

Source: https://github.com/nette/docs/blob/doc-2.4/cs/neon.texy

[2017-07-19 11:05] nufue commented on #580
See #581

[2017-07-19 15:15] dg opened #582 "Zdokumentovat Arrays::associate() a Database::fetchAssoc()"

[2017-07-19 17:33] dg commented on #511
- normalize myslím nikdo v Latte nepoužívá, nechal bych to žít jen kvůli zpětné kompatibilitě.
- reverse můžu přidat do Latte a tak ho legálně zdokumentovat
- toAscii imho taky nikdo v Latte nevyužije
- webalize by se dalo vyřešit tak, že v bych to přidal do Latte s tím, že by to vyžadovalo nainstalovat nette/utils. A s touto poznámkou by se to přidalo do docky

[2017-07-19 17:36] f3l1x commented on #511
Souhlasim. Dali bychom to do docky k latte vid?

[2017-07-19 17:37] dg commented on #511
Jasně

[2017-07-19 17:38] f3l1x commented on #511
Ok, kdyz to pushnes do latte, doplnim to do docky.

[2017-07-20 01:27] dg commented on #511
Je to v Latte

[2017-07-20 14:10] f3l1x commented on #275
Complete. 👍

Good job guys.

[2017-07-20 14:10] #275 closed

[2017-07-20 14:11] f3l1x commented on #580
Diky moc @nufue

[2017-07-20 14:11] #580 closed

[2017-07-20 18:29] #219 closed

[2017-07-20 18:44] f3l1x commented on #511
Assigned to: @premekkoch

-----

Premku, je potreba pridat do dokumentace k latte, ze je tam filtr reverse a take webalize. K webalize drobnou poznamku, ze je potreba mit nette/utils k tomu (mozna odkaz na nette/utils, pokud se to bude hodit).

Kdyby cokoli, napis.

[2017-07-20 18:49] f3l1x commented on #334
Pridavam kontext.
-----

Nejspis je mysleno toto:

https://api.nette.org/2.4/source-Bridges.ApplicationLatte.TemplateFactory.php.html#82-95

[code]

[2017-07-20 18:50] f3l1x commented on #334
Otazkou je, zda-li je to vubec potreba. A jeslti ano, nejspis by musela vzniknout nova stranka spadajici pod `Application`.

[2017-07-20 18:52] f3l1x opened #585 "Utils - document FileSystem"
- https://api.nette.org/2.4/Nette.Utils.FileSystem.html

[2017-07-20 18:55] f3l1x opened #586 "PhpGenerator - document this package"
- https://api.nette.org/2.4/namespace-Nette.PhpGenerator.html

[2017-07-20 19:00] dg commented on #586
The inspiration is here https://github.com/nette/php-generator/blob/master/readme.md

[2017-07-20 19:01] dg commented on #334
To už jsme vyřešili, ne?  https://github.com/nette/docs/issues/511#issuecomment-316460590

[2017-07-20 19:02] f3l1x commented on #334
To jo, to jo. Ale mozna to vic souvisi s TemplateFactory, coz by se hodilo mit nekde popsany.

[2017-07-20 19:04] f3l1x commented on #586
I was thinking about @nufue, WDYT?

[2017-07-20 19:07] f3l1x opened #587 "Readme - leave a note about code-checker"
- how to install it
- how to use it before PR

[2017-07-21 06:02] f3l1x opened #593 "RobotLoader - install note"
- added composer install note

[2017-07-21 06:13] f3l1x commented on #216
@dg Do jake stranky by jsi hodil tyhle operatory?

[2017-07-21 06:28] f3l1x opened #595 "SafeStream - enhancement"
- [x] install note
- [ ] how to register

[2017-07-21 07:48] dg commented on #595
It is registered automatically

[2017-07-21 07:51] dg commented on #216
Určitě Core.

[2017-07-21 09:04] dg commented on #213
Ona není vůbec zdokumentovaná třída `Callback`. Zrovna metodu `invokeSafe` dokumentovat asi není potřeba, protože je v podstatě interní.

[2017-07-21 09:16] chemix commented on #213
@dg tak pridat do kodu @internal ?

[2017-07-21 11:31] nufue commented on #587
_How to install it_ is covered in [https://github.com/nette/code-checker/blob/master/readme.md](https://github.com/nette/code-checker/blob/master/readme.md).

_How to use it_ - where would you put it? Maybe to [Writing the Documentation](https://nette.org/en/writing#toc-contributing)?

[2017-07-21 12:52] f3l1x commented on #587
I mean README in this repo ;-) And yes, in Writing the Documentation, exactly.

[2017-07-22 11:08] f3l1x commented on #389
Closedvia #597

[2017-07-22 11:08] #389 closed

[2017-07-22 14:31] f3l1x commented on #595
Ano, to je fakt, zjistil jsem to, kdyz jsem se dival do composeru. :-)
Nemyslis, ze by bylo dobre to zminit v textu?

[2017-07-22 14:32] f3l1x commented on #595
Text: `Protokol se zpřístupní automaticky při načtení Nette Framework. A pak stačí jen uvést nette.safe:// před jménem souboru:`, neni uplne presny.

Pokud chces balicek pouzivat i samostatne.

[2017-07-22 14:32] dg commented on #595
Jo, to by se mohlo.

[2017-07-22 14:32] f3l1x commented on #595
Install note uz je: ![selection_041](https://user-images.githubusercontent.com/538058/28492028-5cad4f6c-6efb-11e7-9c68-4451b840a069.png)

[2017-07-22 14:32] dg commented on #595
Jasně, on je to 5 let starý text.

[2017-07-22 14:33] f3l1x commented on #593
![selection_042](https://user-images.githubusercontent.com/538058/28492033-771b114a-6efb-11e7-9252-fea7105aec93.png)

[2017-07-22 14:33] #593 closed

[2017-07-22 14:35] f3l1x opened #602 "Callback - create new page"
- API: https://api.nette.org/2.4/Nette.Utils.Callback.html
- Exclude: invokeSafe

[2017-07-22 14:35] f3l1x commented on #213
Zalozil jsem novy ticket jenom na Callback, at v tom mame poradek.

https://github.com/nette/docs/issues/602

[2017-07-22 14:35] #213 closed

[2017-07-22 14:37] f3l1x commented on #585
Closed via: https://github.com/nette/docs/commit/b6f9f6a20b2f078d687e4a7bfe8ad8936c62a9e6

Thanks @landsman

[2017-07-22 14:39] f3l1x commented on #224
@dg Kdyz tedka mame sekci Dependecy Injection, spada Decorator, DI a Inject Extension do nejake stranky? Nebo vytvorime nejakou Default Extensions?

[2017-07-22 14:40] dg commented on #585
This commit is related to Arrays

[2017-07-22 14:42] f3l1x commented on #226
Uvedl bych to tady: https://doc.nette.org/cs/2.4/di-extensions#toc-loadconfiguration

[code]

S tim, ze validateConfig (https://api.nette.org/2.4/source-DI.CompilerExtension.php.html#69-81) vlastne vezme hodnoty z defaults a porovna je s aktualne definovanymi, pokud tam je nejaka hodnota navic, tak vyhodi vyjimku.

[2017-07-22 14:43] dg commented on #224
A ještě ExtensionsExtension.

Asi nějaké di-defaultextensions by to chtělo. Zároveň by bylo dobré jen s odkazem zmínit v configuring.

[2017-07-22 14:43] f3l1x commented on #585
Jej, spatny ticket, omlouvam se.

[2017-07-22 14:44] dg commented on #226
+ doplni vychozí hodnoty

[2017-07-22 14:47] f3l1x commented on #576
Closed via: https://github.com/nette/docs/commit/b6f9f6a20b2f078d687e4a7bfe8ad8936c62a9e6

Thanks @landsman

[2017-07-22 14:47] #576 closed

[2017-07-22 14:49] f3l1x commented on #387
@dg Myslim, ze tohle jsme vyresili, co myslis?

[2017-07-22 14:50] f3l1x commented on #222
Lze alias vytvorit i jinak?

[2017-07-22 14:59] f3l1x commented on #582
Jenom pro poradek, Arrays::associate do Utils a Database::fetch do [core](https://doc.nette.org/cs/2.4/database-core#toc-dotazy)?

Tedka tam je kod:

[code]

Chtel by jsi to s popisem parameteru jo? Kdyz je key i value, jenom key, jenom value, asi vid?

[2017-07-22 15:52] dg commented on #582
Tohle issue vyresim sam.

[2017-07-22 15:54] dg commented on #222
Jen přes builder. V ale v neonu jde dělat jakoalias `alias: @anotherservice`

[2017-07-22 15:55] #387 closed

[2017-07-22 15:58] f3l1x commented on #582
Super, priradil jsem te. Jestli se muzem domluvit, priste si to klidne prirad sam na sebe a ja budu vedet. Diky.

[2017-07-22 16:15] dg commented on #582
Ok, jsem nevěděl, jak to tady funguje ;)

[2017-07-22 16:45] f3l1x commented on #582
Vymluvy? :-D

[2017-07-22 16:46] f3l1x commented on #274
Rad tu stranku sam aktualizuju, jenom pro info, jak to funguje, to muze kazdy upravit?

Muzes mi @dg na slacku napsat, co by jsi tam rad zminil, jenom nejakou kostru. Tedka mame 2017 a vsechny komentare jsou z roku 2015.

[2017-07-22 20:06] petrparolek commented on #274
drobné aktulizace na wikipedii jsem dával já, když to tam nikdo nedával

[2017-07-22 21:31] f3l1x commented on #585
Assigned to: @bretislavstepan

[2017-07-23 21:15] f3l1x opened #603 "ArrayHash - create docs"
- API: https://api.nette.org/2.4/Nette.Utils.ArrayHash.html
- Page: https://doc.nette.org/cs/2.4/arrays

-----

- pridat do stranky `arrays`
- pridat nadpis h2 (ArrayHash)
- pridat nadpis h2 (Arrays)

[2017-07-23 21:16] f3l1x opened #604 "ArrayList - create docs"
- API: https://api.nette.org/2.4/Nette.Utils.ArrayList.html
- Page: https://doc.nette.org/cs/2.4/arrays

-----

- pridat nadpis h2 (ArrayList)
- pridat nadpis h2 (Arrays)
- zdokumentovat metody z ArrayListu

[2017-07-23 21:20] f3l1x commented on #533
# Status update 23.07.2017

We've made a huge homepage refactoring.

![dfqdzs9xuaaavyv](https://user-images.githubusercontent.com/538058/28502961-8b437966-6ffd-11e7-97ff-6046c060b430.jpg)

[2017-07-24 05:15] f3l1x commented on #511
Closed via #600.

Diky moc @premekkoch (https://github.com/nette/docs/commit/c56f0dc9933ee3d32ca4211ba30f881461ab58e2).

[2017-07-24 05:15] #511 closed

[2017-07-24 05:17] f3l1x commented on #334
Jestli ti to @dg prijde oukey, klidne muzeme zavrit (a pridat `completed` label). Pripadne, jestli ne, kam s tim? :-)

[2017-07-24 05:24] f3l1x commented on #493
@dg Koukam, ze uz jsi pridal prvni a treti ukazku do docky (https://doc.nette.org/cs/2.4/di-configuration#toc-autowiring).

Mam uvest jeste self?

[2017-07-24 09:04] #334 closed

[2017-07-24 09:05] dg commented on #493
Jo, klidně. Celkově je to zatím popsáno velmi stroze, klidně vylepšuj :)

[2017-07-24 18:30] dg commented on #227
Nemam paru o co jde

[2017-07-24 18:32] f3l1x commented on #227
@JanTvrdik Nepamatujes si, co jsi myslel timto issue? :-) Pripadne, jestli uz to neni aktualni, coz si tak trochu myslim, tak to muzeme zavrit.

[2017-07-24 18:39] f3l1x commented on #355
Domluvili jsme se s @dg, ze vsechnu konfiguraci budeme vest zde: https://doc.nette.org/cs/2.4/configuring.

A z jednotlivych komponent budeme odkazovat.

[2017-07-24 18:40] #355 closed

[2017-07-24 18:41] f3l1x commented on #355
Pokud nekdo dostane lepsi napad, poslete PR at se muzeme bavit nad realnym kodem.

Diky @mrtnzlml @Unlink @matej21 @chemix za nazory a zalozeni ticketu.

[2017-07-24 19:07] JanTvrdik commented on #227
Hádám, že je to related k https://github.com/nette/database/commit/be800e5b6d7175ee7488e0c40cf37d91dc82ce22

[2017-07-24 19:12] dg commented on #227
A na kterých místech se to týká docky?

[2017-07-24 19:15] JanTvrdik commented on #227
Dohledal jsem https://github.com/nette/docs/commit/aef475be9b6458dd7c318bb191bed4a6c32e16b0, ale je to tak staré issue, že to můžeme skoro určitě zavřít. Šlo jenom o to, aby doc bylo zmíněno, že je OK pracovat s Connection instancí.

V současné doc jsem dohledal jenom https://github.com/nette/docs/blob/doc-2.4/en/database-core.texy#L35 a https://github.com/nette/docs/blob/doc-2.4/cs/database-core.

[2017-07-24 19:17] #227 closed

[2017-07-25 06:24] JanGalek commented on #533
- [x] https://github.com/nette/docs/issues/390 (Presentery: ukonceni behu) - PR: https://github.com/nette/docs/pull/606

[2017-07-25 06:37] f3l1x commented on #390
Closed via #606. Thanks @JanGalek.

[2017-07-25 06:37] #390 closed

[2017-07-25 06:41] f3l1x commented on #227
@JanTvrdik Diky moc.

[2017-07-25 07:24] f3l1x commented on #241
Assigned to: @jahudka

[2017-07-25 07:38] f3l1x commented on #533
# Status update 25.07.2017

We're going much faster then I expected. :tada: I've reschedule all tickets from month-plan to package-plan.

[2017-07-25 10:09] premekkoch commented on #603
beru

[2017-07-25 10:10] premekkoch commented on #604
beru

[2017-07-25 20:56] f3l1x commented on #585
Pridam jeste odkaz na homepage, pak to zavru @bretislavstepan a @dg.

[2017-07-25 21:41] f3l1x commented on #478
Assigned to: @JanGalek

[2017-07-26 08:40] dg commented on #478
Tady by mohl pomoct @JanTvrdik

[2017-07-26 08:41] #585 closed

[2017-07-26 08:42] f3l1x commented on #585
Chybi odkaz z homepage. Tedka se tam neda proklikat, protoze ani Utils nemaji odkaz z homepage.

[2017-07-26 08:44] dg commented on #585
Už jsem ho tam dal

[2017-07-27 08:37] f3l1x commented on #604
Solved via #609 & 687a20a00da972f665d79d881d51388319636460. Thanks @premekkoch

[2017-07-27 08:37] #604 closed

[2017-07-27 08:37] f3l1x commented on #603
Solved via #609 & 687a20a00da972f665d79d881d51388319636460. Thanks @premekkoch

[2017-07-27 08:37] #603 closed

[2017-07-31 18:37] #478 closed

[2017-08-01 14:53] #587 closed

[2017-08-01 19:06] JanGalek commented on #239
@f3l1x vezmu si na starost ;)

[2017-08-02 12:39] f3l1x commented on #211
Napada te @dg k tomu neco? Porad nemuzu prijit na to oc jde.

[2017-08-02 12:46] f3l1x commented on #533
# Status update 2.8.2017

@premekkoch (with little help of @dg) solved: #603, #604.
@JanGalek solved #478.

Thank you guys!

-----

At this time I'm working on Dependency Injection improvements, stay tuned. :-)

[2017-08-02 18:26] dg commented on #211
Nevim čéče

[2017-08-02 18:29] #595 closed

[2017-08-02 18:46] f3l1x commented on #211
@klimesf Muzes nam trochu pomoci/poradit? :-)

[2017-08-03 05:19] f3l1x commented on #394
I'm closing it now, feel free to reopen in case of problems.

As @vlastavesely said, take a look at Tracy's page (https://github.com/nette/tracy/tree/master/tools/open-in-editor).

Thank you.

[2017-08-03 05:19] #394 closed

[2017-08-04 07:12] f3l1x commented on #211
Napsal jsem mu radeji jeste mail, nez to zavreme.

[2017-08-05 17:22] mabar opened #625 "Forms - manual rendering"
{label labeNamel /} {input inputName} etc.

[2017-08-05 17:28] f3l1x commented on #625
I've found manual rendering here: https://doc.nette.org/cs/2.4/form-rendering#toc-manualni-vykreslovani

[2017-08-05 17:31] mabar commented on #625
Oh, sorry. I foolishly accessed documentation throught google and not checked if there are any other pages :/

[2017-08-05 17:31] #625 closed

[2017-08-05 18:39] f3l1x commented on #625
No problem, feel free to join us on gitter or slack.

https://gitter.im/nette/nette/
https://gitter.im/nette/nette/cs

[2017-08-06 18:04] f3l1x commented on #215
@dg Cachovani rout jsem zatim ani jednou nepouzil, tak se tesim, az to testu kvuli docce. Nejake tipy na co se zamerit?

[2017-08-06 19:02] dg commented on #215
Zapina se to v konfigu:

[code]

a jde o to, že se objekt routeru serializuje, takže nemůže obsahovat callbacky nebo vazby na jine objekty, například v Route::FILTER_IN a Route::FILTER_OUT.

[2017-08-07 06:51] f3l1x commented on #215
Diky moc :-)

[2017-08-07 06:54] f3l1x commented on #501
Related: #608, #624

We have an extra branch **spellchecker**, please take a look how to install and run. I don't think it could be part of the CI process, because the dictionary must be a very comprehensive. Time and again we could run it.

https://github.com/nette/docs/tree/spellchecker

[2017-08-07 06:54] #501 closed

[2017-08-14 05:56] f3l1x commented on #211
I'm closing it now. Feel free to open it with more providing more information. Thanks @klimesf.

[2017-08-14 05:56] #211 closed

[2017-08-14 06:06] f3l1x opened #628 "QuickStart - keep only for latest stable Nette"
- [ ] drop all tutorials older then v2.4 (after discussing with @dg)
- [ ] merge v2.4 into master in nette/tutorial-quickstart
- [ ] remove branches in nette/tutorial-quickstart

[2017-08-14 09:01] f3l1x commented on #242
Resolved via #623

[2017-08-14 09:01] #242 closed

[2017-08-15 05:17] f3l1x commented on #533
# Status update 15.8.2017

@premekkoch  solved: #623
@JanGalek  solved: #626, #622, #621
@f3l1x solved: #626
Typos: @radekdostal (#627) @hermajan (#629)

Thank you guys!

------

We're still working on more issues to complete the docs. Please open new issues for things we forgot.

[2017-08-17 20:17] petrparolek commented on #628
why?

[2017-08-20 14:47] dg commented on #628
Imho current state is ok, or not?

[2017-08-20 15:35] JanGalek opened #631 "Remove redirect inside try"
V Dokumentaci, konkrétně zde https://doc.nette.org/cs/2.4/access-control#toc-autentizace (ještě prohledám zbytek) se nachází v try přesměrování, což vede k tomu, že dostaneme vyjímku `Nette\Application\AbortException`

přesměrování by se mělo dít až po try ;)

konkrétní případ:

[code]

Edit: pošlu PR, hned jak se dořeší https://github.com/nette/docs/pull/626 ;)

[2017-08-20 15:56] dg commented on #631
Zachytávání `\Exception` nikde v dokumentaci nevidím.

[2017-08-20 16:09] JanGalek commented on #631
máš pravdu, moje chyba

[2017-08-20 16:09] #631 closed

[2017-08-21 20:48] mabar commented on #628
Please no. Its good idea to force people to learn newest version. But when they can so they will do it without this change. Quick start for older Nette versions is still good when sb. start working in company where is used older version of Nette and know nothing about it.

[2017-08-21 20:58] mabar commented on #550
Please note in docs that booleans attributes like `block-all-mixed-content` must be written without value or with null to be generated properly. I've expected that I should write `block-all-mixed-content: true` when I was implementing CSP.

[2017-08-23 10:36] #239 closed

[2017-08-24 09:57] f3l1x opened #635 "Forms - add reset() method"
Related to: https://github.com/nette/forms/commit/fb63527c6bc66781f0040d9aa7addc0cbeb1fce4

[2017-08-24 10:03] f3l1x commented on #231
Closed via #611

[2017-08-24 10:03] #231 closed

[2017-08-24 10:04] f3l1x commented on #224
Closed via #611

[2017-08-24 10:04] #224 closed

[2017-08-24 17:19] #586 closed

[2017-08-25 17:58] f3l1x commented on #228
[code]

[2017-08-25 18:02] f3l1x commented on #628
It's oukey ;-) We're done here. QS for version 2.3 is dropped the rest stays.

[2017-08-25 18:02] #628 closed

[2017-08-25 18:04] f3l1x commented on #628
I must say that QS will not be updated for other then latest version.

[2017-08-25 18:20] f3l1x commented on #238
Chybi napr. priklad vytvoreni tovarny na komponentu (negenerovana).

[2017-08-25 18:44] f3l1x commented on #274
- [ ] sesynchronizovat ceskou a anglickou
- [ ] uvest podpory PHP verzi a ukonceni podpory
- [ ] napr. pridat screenshot Tracy
- [ ] odkazy na clanky
- [ ] odkaz na componette

[2017-08-25 18:46] dg commented on #399
@milo could you help us to reach "issues zero" and update doc? :-)

[2017-08-25 19:16] milo commented on #399
Sure! I tollay forgot about this issue.

[2017-08-25 19:17] dg commented on #493
https://doc.nette.org/cs/2.4/di-configuration

[2017-08-25 19:20] f3l1x commented on #493
Assigned: @JanTvrdik

[2017-08-25 19:20] dg commented on #493
Nejlepsi by byl priklad, kdy autowirujeme tridu A a tridu B dedici od A, a vlastne diky autowired:self muzeme dosahnout stavu, kdy typehint A autowiruje A a typehint B autowiruje B.

[2017-08-25 19:22] f3l1x commented on #550
Idealne pridat do:

- [ ] latte stranky
- [ ] tracy funguje automaticky
- [ ] do configuration

[2017-08-25 19:23] f3l1x commented on #550
Assigned: @matej21

[2017-08-29 12:31] #635 closed

[2017-09-05 16:55] f3l1x commented on #238
Muzeme zavrit? Podle je to dostatecne doreseno zde: https://github.com/nette/docs/pull/638

[2017-09-05 17:15] #602 closed

[2017-09-05 17:16] #238 closed

[2017-09-05 17:18] #222 closed

[2017-09-06 10:21] #228 closed

[2017-09-06 11:54] f3l1x commented on #226
Closed via #610

[2017-09-06 11:54] #226 closed

[2017-09-06 12:01] f3l1x commented on #533
# Status update 6.9.2017

We've resolved many issues.

Issues: #231, #224, #226, #228, #602, #222, #586, #635
PR: #643, #644, #645, #626, #633, #634

---

Thank you guys!

[2017-09-06 12:07] f3l1x commented on #208
Resolved by #614

[2017-09-06 12:07] #208 closed

[2017-09-07 09:21] janmottl opened #646 "Co se děje při submitu formuláře"
v dokumentaci mi chybí popis toho co se děje při submitu formuláře. Koukal jsem do životního cyklu presenteru a nemohl jsem tam najít co jsem potřeboval vědět. Chvíli mi trvalo než mi došlo, že se při sumbitu vytvoří formulář nezávisle na renderu a při get se vytvoří formulář během renderování. Hodilo by se doplnění formuláře do životního cyklu presenteru nebo zvlášni životní cyklus formuláře,

Kv

[2017-09-07 09:25] f3l1x commented on #646
To nas moc tesi.

-----

Musim se priznat, ze jsem to z toho popisku uplne nepochopil. Co by podle tebe melo byt v dokumentaci?

[2017-09-07 09:42] janmottl commented on #646
Dělám s weby a Nette krátce. Chybí mi tam popis co se děje při POSTu. Domnívám se, že při POSTu je to nějak takto:
  startup
  action<Action>
  handle<Signal>
  createComponent<formComponent>
  onSubmit
  onSuccess nebo onError (redirect nebo redraw je na aplikaci a spousti se vetev before render, render...
  shutdown

btw pri redraw se reateComponent<formComponent> nevola, pokud jiz komponenta ex

[2017-09-07 09:45] janmottl commented on #646
sezralo mi to znaky mensi a vetsi a to co bylo mezi nimi. createComponent minim komponentu formulare.

[2017-09-07 19:25] maral opened #647 "Planette forms replicator link broken"
Broken link at https://pla.nette.org/

docs/pla/cs/homepage.texy:11
| [Dynamický počet položek ve formuláři |addons:cs/form-container-replicator] | Addon

The supposed link is this:
https://componette.com/kdyby/formsreplicator/

I would fix it, however I don't know how does the magic addons links work, so I leave it to professionals :)

[2017-09-07 19:46] dg commented on #647
Fixed

[2017-09-07 19:46] #647 closed

[2017-09-07 21:22] #216 closed

[2017-09-08 05:40] f3l1x commented on #216
Super ;-)

[2017-09-08 05:44] f3l1x commented on #647
Thank you for reporting @maral

[2017-09-08 09:29] janmottl opened #648 "Dokumentace API Nette\Forms\Container a Nette\Forms\Controls\BaseControl"
V dokumentaci API Nette\Forms\Container by se hodilo:
- popsat v metode setDefaults, ze v pripade submitted formu hodnoty nenastavi
- zanest do dokumentace metodu setValues, ktera neni v dokumentaci API popsana

V dokumentaci API Nette\Forms\Controls\BaseControl by se hodilo:
-  popsat v metode setDefaultValue, ze v pripade submitted formu hodnoty nenastavi
-  popsat v metode settValue, ze funguje

[2017-09-08 10:52] dg commented on #648
Mohl bys to prosím zkusit doplnit? Na základě připomínek to postupně doladíme a pak vytvoříme anglickou verzi. S tím pomůže Google Translator.

[2017-09-08 11:39] janmottl commented on #648
Asi jsem to zapsal na nevhodné místo. Je to návrh do dokumentace API, což bude generované z kódu. Nechci vám dělat nepořádek v kódu a tak posílám návrh textu.

Nette\Forms\Container metoda setDefaults. Za text "Fill-in with default values." doplnit:
	Boundary conditions: The form must not be submitted or anchored.
	Okrajové podmínky: formulář nesmí být odeslaný (submitted) nebo anchored.

Nette\Fo

[2017-09-08 11:41] f3l1x commented on #648
@janmottl Je to super jak jsi to sepsal, mame tech veci na upravu opravdu hodne, zkus si prosim stahnout dokumentaci k sobe a vlozit tam tvoje upravy. ;-)

Je to snazsi nez se zda.

[2017-09-10 16:16] f3l1x opened #649 "Composer - page enhancements"
- [ ] mention [hirak/prestissimo](https://github.com/hirak/prestissimo)
- [ ] composer init to create library
- [ ] composer scripts

[2017-09-10 16:20] dg commented on #649
Myslíš, že je potřeba investovat energii do dokumentování cizí knihovny?

[2017-09-10 16:21] f3l1x commented on #649
Mam to za par minut sepsane a treba to nekomu pomuze pri tvorbe jeho knihoven. Urcite to hirak/prestissimo je super nastroj, ktery porad nekdo nezna. :-)

[2017-09-11 06:19] janmottl commented on #648
podivam se na to behem tydne jak budu mit cas.

[2017-09-12 09:51] JanGalek commented on #649
Souhlasím, že je to super knihovna, ale nejsem si jistý, jestli by měla být přímo v nette dokumentaci. Možná v nějaké podsekci (subdomain), kde by se tedy mohli sepisovat cizí užitečné knihovny :)

[2017-09-12 14:02] dg commented on #649
Ono to mělo svůj historický důvod, kdy Composer znalo jen málo programátorů, ale dnes bych spíš tuhle stránku zrušil a tipy na související nástroje dal na blog.

[2017-09-12 16:22] JanGalek commented on #649
Tak to nahodit na blog a pak odkaz do tipů :)

[2017-09-13 05:38] f3l1x commented on #649
@dg Tak to pak hodime na planette?

[2017-09-13 05:47] f3l1x commented on #493
Reassigned to me ;-)

[2017-09-13 05:47] f3l1x commented on #399
@milo How is it going? :-)

[2017-09-13 10:56] dg commented on #649
Myslis stanku Composer nebo ty věci, které jsi chtěl do ní doplnit?

Já už bych do ní fakt nic nedoplňoval. Pokročilé použití Composeru nepatří IMHO do dokumentace Nette, ale vůbec by to nevadilo na blogu Nette. Případně na planette.

[2017-09-13 14:27] #493 closed

[2017-09-13 16:42] f3l1x commented on #493
Cool. :-)

[2017-09-14 20:02] milo commented on #399
I started working on it this week. It's quite difficult to explain it in a short way :-/ Maybe I'll create new page.

[2017-09-23 09:32] krisarsov opened #653 "Dependency injection article - Incorrect references to createArticle"
Hello,

I think the references to `createServiceArticle` on the following lines need to be changed to `createArticle`:
https://github.com/nette/docs/blob/doc-2.4/en/dependency-injection.texy#L272
https://github.com/nette/docs/blob/doc-2.4/en/dependency-injection.texy#L280
https://github.com/nette/docs/blob/doc-2.4/en/dependency-injection.texy#L283
https://github.com/nette/docs/blob/doc-2.4/en/depe

[2017-09-24 16:32] f3l1x commented on #653
Hi.

Why do you think? Do you test it on your generated DI Container? I think it's oukey.

[2017-09-25 08:17] dg commented on #653
@krisarsov You're right. However, the whole part about `createArticle` is rather confusing, I'd rather remove it.

[2017-09-25 09:34] #653 closed

[2017-09-26 19:08] f3l1x commented on #649
Rozumim. Uziviram a hodime to do planette.

[2017-09-26 19:08] #649 closed

[2017-09-26 19:11] f3l1x opened #655 "Utils: page about Reflection"
- [x] https://api.nette.org/2.4/Nette.Utils.Reflection.html

[2017-10-19 07:51] JanGalek opened #657 "Zdokumentovat Control getParameterId"
Myslím, že by bylo dobré přidat do dokumentace metodu getParameterId.

Nejčastěji jsem totiž potřeboval odesílat ajax na handle v komponentě, a řešil jsem to vždy ošemetně (handle v presenterech a odkaz na plink)

Př.
`pošle při změně inputu`
[code]

řešilo se i na fóru: https://forum.nette.org/cs/27027-automaticke-generovani-url-parametru-v-komponentach

PR bych se ujal, jen bych potřeboval porad

[2017-10-19 10:14] dg commented on #657
Asi by se to nejvíc hodilo právě do stránky o AJAXu, tedy https://doc.nette.org/cs/2.4/ajax

[2017-10-26 14:29] f3l1x commented on #648
ping @janmottl, podarilo se nejak?

[2017-10-26 14:29] f3l1x commented on #399
Any updates @milo? Can I help you?

[2017-10-26 14:30] f3l1x commented on #582
@dg Mohl by jsi na to prosim mrknout? :-) At to mame z krku.

[2017-10-26 15:54] janmottl commented on #648
Omlouvam se, ale nepodarilo. Je to navrh k dokumentaci API. Ta je predpokladam generovana z kodu. Jsem novacek ve webovych aplikacich a v soucasne dobe jsem schopen prispet pouze touto vetickou. V tomto svetle jsem nemel silu si rozchazet prostredi.

[2017-11-09 15:11] f3l1x commented on #533
# Status update 9.11.2017

It has been a while when we close the last issue. At this moment I focus on my 👨‍🏭  & 💰 . Don't be worry, I will fix all issues at the end. ;-)

🎉

[2017-12-07 15:49] f3l1x commented on #646
To flow co jsi popsal je spravne, akorat si nejsem jisty, jestli by to melo byt v popisu formulare. Resp. dost toho je obsazeno v [zivotnim cyklu presenteru](https://doc.nette.org/cs/2.4/presenters#toc-zivotni-cyklus-presenteru). Myslis, ze stoji za to, to davat jeste nekam jinam?

[2017-12-09 08:06] janmottl commented on #646
Ano, do zivotniho cyklu presenteru by se to hodilo. Taky jsem to tam hledal, kdyz jsem pred vice nez rokem dumal nad tim, proc mi fomular nefunguje a createComponent  se vola pred render. V zivotnim cyklu by se hodilo znazorneni kdy se vola createComponent a mozna v textu naznacit na ktere komponenty:
- v pripade POST se zrejme createComponent vola pouze na postovanou komponentu.
- po render se cr

[2017-12-27 21:04] f3l1x opened #670 "Presenter - better example of sendResponse"
Searched: https://github.com/nette/docs/search?utf8=%E2%9C%93&q=sendResponse&type=
Results: 1x in AJAX, 1x in MVP

--

It would be nice to have better examples of:

- FileResponse
- CallbackResponse
- TextResponse
- JsonResponse

[2018-02-11 15:54] f3l1x commented on #657
Resolved via #663

[2018-02-11 15:54] #657 closed

[2018-02-11 15:58] f3l1x commented on #533
# Status update 11.02.2018

We've resolved some small issues: 674, 663, 637, 668, 667, 669. Some of them weren't in this big list.

We're still keep going.

[2018-02-11 16:19] #215 closed

[2018-02-11 16:20] f3l1x commented on #215
Hell ya, done. :smiley:

[2018-02-18 00:03] f3l1x opened #677 "Configuring: missing RoutingExtension"
https://api.nette.org/2.4/Nette.Bridges.ApplicationDI.RoutingExtension.html

[2018-02-19 14:04] f3l1x opened #678 "[idea] QuickStart: advanced security/acl"
According to: https://pehapkari.slack.com/archives/C2R30BLKA/p1518775924000036

/cc @chemix

[2018-03-27 17:02] Majkl578 opened #690 "Team & Contributors claims Nette was invited (somewhere) by David"
https://nette.org/contributors

I don't know where Nette was _invited_ to, but it should probably say _invented_.

[2018-04-24 10:02] BayerMeister opened #696 "Configuration: simplest authorization"
The [page about configuration](https://doc.nette.org/en/2.4/configuring) offers a very simple way to authenticate. There is however no mention about an equivalent way to set up authorization.
[The ACL page](https://doc.nette.org/en/2.4/access-control#toc-usage-in-application) goes into detail here, but it is not obvious if both approaches can be combined.

I would like to see some lines added, but

[2018-05-04 11:14] Machy8 opened #700 "Broken link to Latte iterator api"
Broken link is on the following urls
- Cz: https://latte.nette.org/cs/macros#toc-cykly
- En: https://latte.nette.org/en/macros#toc-loops

In the part
- Cz: "**Její API** disponuje čítačem průchodů a metodami..."
- En: "**Its API** features iteration counter and methods..."

I am sorry, but I don't know by which link I can replace it so I can't send a pull request.

[2018-06-05 07:10] rzelnik opened #703 "How to link a css file"
In the [quickstart howto](https://doc.nette.org/en/2.4/quickstart/home-page) there is a CSS file that enhances the look of the blog home page, but there is no instruction, how to link the CSS file to the HTML layout. As a Nette-beginner I don't know how to add an absolute path to the nette app in the link href attribute.

[2018-06-05 08:34] #703 closed

[2018-06-05 10:36] rzelnik commented on #703
@dg , thanks a lot for quick response.

[2018-06-05 10:57] dg commented on #703
you're welcome

[2018-07-09 08:57] finwe opened #712 "Ads are breaking flow of the text"
Is it possible to set up the ad system to insert before headings? It interrupts the flow of the text.

![shot_180709_105532](https://user-images.githubusercontent.com/195675/42440698-c81f4748-8366-11e8-8b3e-a779201c9e95.png)

[2018-07-09 12:38] dg commented on #712
It should be inserted before the subtitles.

[2018-07-09 12:38] #712 closed

[2018-09-03 08:25] f3l1x opened #720 "Forms: isSubmittedBy"
Related: https://forum.nette.org/cs/31227-formular-dve-odeslani-kazdy-s-jinou-akci-a-jinou-zobrazenou-strankou#p199515

[2018-09-03 08:27] f3l1x commented on #700
Hi, is it still relevant? I've tested that links and they work.

[2018-09-03 10:01] Machy8 commented on #700
@f3l1x It looks like they are already fixed. You can close the issue.

[2018-09-03 10:02] f3l1x commented on #700
Cool.

[2018-09-03 10:02] #700 closed

[2018-09-03 10:02] Machy8 commented on #700
@f3l1x Thanks!

[2018-09-03 12:50] milo commented on #720
Used to be there https://github.com/nette/docs/pull/91. I rememer it from doc.

[2018-09-29 09:16] f3l1x commented on #690
Ping @dg

[2018-09-29 21:10] f3l1x commented on #696
I'm not sure if it's clear Nette-way how to define ACL, thus I don't known it should be in docs. What do you think guys? @dg @JanTvrdik @chemix @matej21?

[2018-09-29 21:12] f3l1x commented on #678
I'm closing it, because I can't remember what was it. Slack is overflowed.

[2018-09-29 21:12] #678 closed

[2018-10-02 05:58] chemix commented on #696
I'm doing ACL simple way by dynamic user auth with DI configuration via neon file
(https://doc.nette.org/en/2.4/access-control#toc-usage-in-application)

[code]

And if I understand question from @BayerMeister, he wants to add to this https://github.com/nette/security/blob/master/src/Bridges/SecurityDI/SecurityExtension.php extension section for "setup" ACL tree ? Isn't it?

[2018-10-03 11:29] f3l1x commented on #720
Done.

[2018-10-03 11:29] #720 closed

[2018-10-03 11:30] f3l1x commented on #670
Done

[2018-10-03 11:30] #670 closed

[2018-10-03 11:30] f3l1x commented on #677
Done

[2018-10-03 11:30] #677 closed

[2018-10-17 08:37] finwe opened #728 "Prev/Next Chapter links in sidebar"
I guess it would help a lot if links to previous/next chapter were not only at the bottom of the page, but in the sidebar as well. Preferrably at the top, as it would take only two lines, the other content would not be moved too far and still visible above the fold.

Alternatively, they could be placed between h1 and h2 to the main page content.

Currently, there are no other means of navigating c

[2018-10-17 13:37] dg commented on #728
I tried to add it.

[2018-10-17 14:13] finwe commented on #728
Cool, seems OK!

[2018-10-18 07:51] #728 closed

[2018-12-15 20:52] NoNoNo opened #739 "[disabled] != [readonly]"
[code]
https://github.com/nette/docs/blob/doc-2.4/en/forms.texy#L235

Please differentiate between `[disabled]` and `[readonly]`!

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#disabled

Greetings!

[2019-01-15 08:58] finwe opened #743 "English tweaks on Latte homepage"
A few remarks about english Latte homepage. Original texts are in _italics_, correction proposals in **_bold italics_**

- correct spelling is _**truly**_ instead of _trully_ in the main claim
- definite article in _Call the Security_ should be omitted, correct is: _**Call Security**_
- mixing tenses in _We have been developing Latte for over 10 years- and counting!_
- unsure what _Over 10 Years_

[2019-02-10 13:23] jtojnar opened #744 "Negative validation rules"
https://doc.nette.org/en/3.0/form-validation says

but this has been deprecated in https://github.com/nette/forms/commit/000677fd809362a82c13a21461301d0e8cf950b9. What is the correct method for creating negative validators?

[2019-03-01 09:23] milo commented on #744
It is in the commit message `(Negatives for FILLED & EQUAL are BLANK & NOT_EQUAL)`

[2019-03-01 11:48] jtojnar commented on #744
Well, I am more concerned about other rules like `~NUMBER`.

[2019-03-01 16:34] dg commented on #744
addRule(Form::PATTERN, null, '\D+')`

[2019-03-01 16:35] #744 closed

[2019-03-01 17:23] jtojnar commented on #744
Perhaps I should have been clearer, I meant this as a documentation issue. I would open a PR myself but I am not aware of any generic solution, so I opened this issue.

[2019-03-01 18:36] dg commented on #744
Sorry, I did not understand.

[2019-03-19 22:21] hrach opened #748 "Latte: missing info about filter & FilterInfo"
Currently docs is missing info about FilterInfo and content-aware filters.

[2019-04-29 09:58] Rixafy opened #762 "Broken links to ApiDocs in 3.0"
When you switch to docs 3.0, every link to api docs return 404. The problem is that new api docs are in folders, not files that are "separated" by `.`, I noticed filter |api in .texty files, so solution would be add condition to filter for docs 3.0 (dots will be replaced with slashes, except the last), so link https://api.nette.org/3.0/Nette.Caching.Storages.MemcachedStorage.html will look like ht

[2019-04-29 11:14] dg commented on #762
Fixed

[2019-04-29 11:14] #762 closed

[2019-04-30 15:47] Rixafy commented on #762
There is another broken path in right panel and above next to github link (you need to remove `namespace-` string and replace `.` with `/`). Btw, isn't better open apidocs links in new window? Programmer usually wants to see described some available methods, but also stay on documentation page.

![image](https://user-images.githubusercontent.com/45132928/56974854-f22ba800-6b6f-11e9-8188-db8e51c478

[2019-04-30 16:08] dg commented on #762
Fixed

[2019-07-02 11:14] petrparolek opened #769 "Migration 2.4 -> 3.0"
Can you add migration from 2.č to 3.0 please?

[2019-08-14 19:31] janedbal commented on #399
Any updates?

[2019-09-09 14:27] f3l1x commented on #690
Looks like it's fixed. Thanks for report @Majkl578.

![image](https://user-images.githubusercontent.com/538058/64539404-baebb580-d31e-11e9-97ab-06a4201d1542.png)

[2019-09-09 14:27] #690 closed

[2019-09-09 15:22] f3l1x commented on #533
# Status update 9.9.2019

We've Nette 3.0, yay, 🎉. You can find tiny typos or deprecated stuff out there, but don't worry, we're working on that.

PR's: #775 #736

[2019-10-29 10:31] f3l1x commented on #743
Could you please @finwe create a PR for these changes? 🌮

[2019-10-29 10:34] finwe commented on #743
I would but there is no place to change this. Home pages are not (or were not at the time of creating this issue) in the repository (or at least no one could point me to them when I asked)

[2019-10-29 13:05] dg commented on #743
I will fix it in web code.

[2019-12-01 14:23] kp52 opened #789 "Bad path in https://doc.nette.org/en/3.0/quickstart/refactoring-model"
https://github.com/nette/docs/blob/522da2c5dc7edddaf117bf05fe7786050a0457e9/en/quickstart/refactoring-model.texy#L64

Had to change path to createRouter to:
`	router: App\Router\RouterFactory::createRouter`

to clear error

[2019-12-03 21:11] #789 closed

[2019-12-16 21:19] dg commented on #769
Here is it https://doc.nette.org/en/3.0/migration-3-0

[2019-12-16 21:19] #769 closed

[2019-12-16 21:29] dg commented on #743
Fixed, thanks

[2019-12-16 21:29] #743 closed

[2020-01-06 13:02] finwe opened #795 "Schema: assert method documentation mentions unreleased feature"
Second parameter of `assert` method has not yet been officially released, i believe only released features should be mentioned in the documentation or there should be a notice to prevent confusions and frantic composer updates with no avail.

[2020-01-06 18:39] dg commented on #795
It looks like I forgot to release it.

[2020-01-06 18:40] finwe commented on #795
That's the better case :)

[2020-01-07 00:03] #795 closed

[2020-02-05 13:19] martinsifra opened #799 "Latte: |noescape is order independent"
Good news everyone,

as all we know Latte filters are applied from left to right - except `|noecape`. Internaly ecaping is just a flag turning off escaping of current literal. (Hope I've found the correct source doing this.)

**In documentation there is no mention the order in filters of `|noescape` matters.**

PS: I'd like to add this note, bute there's no way how to edit Latte docs.

[2020-02-09 15:46] dg commented on #799
It works as you write. Do you have any idea when this behavior might confuse someone?

(Latte docs is in branch nette.org https://github.com/nette/docs/tree/nette.org)

[2020-02-10 09:06] martinsifra commented on #799
If you don't it's just a flag, there can be misunderstanding when combine with other filters. You start thinking if comes firt translation or escaping, replace or escapint, etc. But the result is that everything goes in the left to right order and after all is noescape applied.

I must be blind. I didn't see latte folder in docs repo 😀 Thank you, I'll add this note.

[2020-04-20 11:20] FVesely opened #814 "Forms: Add HTML attributes to items"
Hello,

based on David answer on forum https://forum.nette.org/cs/33289-jak-nastavim-u-addradiolist-set-attribute#p209822 I want to add this information to documentation.

I found two sections with HTML attributes https://doc.nette.org/en/3.0/form-rendering#toc-html-attributes and https://doc.nette.org/en/3.0/form-fields#toc-addradiolist and I don't know which one is the right one. :)

[2020-04-20 11:25] dg commented on #814
Pozdě, už jsem to tam dopsal :-)

[2020-04-20 11:25] #814 closed

[2020-04-20 11:25] FVesely commented on #814
@dg was faster :) https://github.com/nette/docs/commit/582f7789583614c69ad8414e6a285c59dcf63d56

[2020-05-09 08:28] petrparolek opened #815 "Latte: add sandbox to docs"

[2020-05-09 13:40] dg commented on #815
Kurva neser.

[2020-05-09 13:41] dg commented on #815
Tohle je na ban, vyser se na to.

[2020-05-14 21:24] thejoeejoee opened #816 "Convertor: invalid submenu HTML"
On all docs pages are in generated HTML [invalid markup](https://validator.w3.org/nu/?doc=https%3A%2F%2Fdoc.nette.org%2Fen%2F3.0%2Fquickstart%2Fgetting-started), `h2` tags are ended by `h3`:
[code]

[2020-05-14 21:56] dg commented on #816
fixed

[2020-05-14 21:56] #816 closed

[2020-05-25 11:36] mesour opened #817 "Nette forms: missing info about session start for CSRF protection"
Možná by se hodilo v dokumentaci u nette/forms v sekci CSRF https://doc.nette.org/cs/3.0/forms#toc-obrana-pred-cross-site-request-forgery-csrf dát informaci o tom, že existuje něco jako session.autoStart: true, což se hodí pokud používáš CSRF protection :slightly_smiling_face: Protože jinak se sessiona startuje až v šabloně při výpisu end tagu formuláře a to spadne na: headers already sent.

[2020-05-25 13:11] dg commented on #817
Asi to dám jen do v2.4 a do v3.0 napíšu, že tato forma ochrany je už deprecated, protože všechny současné prohlížeče zvládají ochranu pomocí samesite cookies.

[2020-05-25 13:59] #817 closed

[2020-07-20 22:33] #655 closed

[2020-07-20 22:34] #550 closed

[2020-07-20 22:35] #431 closed

[2020-08-28 12:38] dakur opened #847 "DI: explain what are DI related objects' methods for"
[DI docs](https://doc.nette.org/en/3.0/di-extensions) explains well what to do in `CompilerExtension` object methods. 👍

However, while I'm quite untouched yet by Nette DI implementation, I have no idea what to do next. Say I have two classes and I want to pass reference on one of them to the second. But now I have many methods with undocumented terminology and I do not know how to use them.

![im

[2020-08-28 13:06] dg commented on #847
I'm currently writing DI documentation, but it will take a few more weeks.

[2020-08-28 13:18] dakur commented on #847
Cool. I just wanted to post it somewhere as it is not the first time I'm fighting with this. I work with DI extensions rarely, so I usually forget everything and have to search for it evey time again and again.

[2020-10-01 14:39] jirihon opened #850 "Latte: document Nette\Bridges\FormsLatte\Runtime::renderBlueprint"
The `{formPrint}` macro is perfect, thank you very much! However, it's available only within the Nette Framework. Luckily, there is the `Nette\Bridges\FormsLatte\Runtime::renderBlueprint` method that could be used to render Latte form blueprint even for standalone Forms if the output is slightly tweaked (`<form>` tag replaced by `{form}` macro). Would it be worth to document the method somewhere?

[2020-10-06 15:21] dakur opened #852 "Broken Back button when jumped to anchor"
When I click any anchor on a doc page, the "Back" button in browser is broken – it moves me few pixels up, but it should take me to the place I was before. Probably some JS broke it.

[2020-10-06 16:43] dg commented on #852
fixed

[2020-10-07 05:04] dakur commented on #852
:+1:

[2020-10-07 05:04] #852 closed

[2020-10-13 07:32] woytam opened #853 "Latte - API URL generator wrong url"
Texy URL generator for API pages, `api` filter, generates wrong URL.
Example, where it generates wrong URL (`[PhpWriter |api:Latte\PhpWriter]`):
https://github.com/nette/docs/blob/2af80899e71850d6fed0386309d8e234767f4665/latte/cs/develop.texy#L207
Expected URL:
[code]
Generated:
[code]
Difference is in `/` or `.` in namespace names and URL.

[2020-10-28 17:30] f3l1x commented on #533
## Status update 28.10.2020

We've improved (well, @dg by itself these days) very well. Nette 3.0 has awesome doc!

Let's continue with the hard work.

[2021-01-17 14:46] petrparolek opened #873 "Add GitHub Actions in docs"
It would nice add GA simple tutorial, if there is Travis CI.

[2021-01-17 17:39] dg commented on #873
?

[2021-01-17 17:41] petrparolek commented on #873
idea write in in docs about GitHub Actions

[2021-01-17 17:42] dg commented on #873
How is this related to Nette?

[2021-01-17 17:42] petrparolek commented on #873
Same as Travis CI.

[2021-01-17 17:47] dg commented on #873
You mean, like, doc for Nette Tester?

Strašně nenávidím tahat z někoho každé slovo 😡

[2021-01-17 17:49] petrparolek commented on #873
promin, nenapsal jsem, že jde o tester.

[2021-01-17 17:51] dg commented on #873
Nenapsal jsi vůbec nic. Sorry, ale to je jak hadrem přes hubu. Si myslíš, že prdneš do issues „Travis CI -> Github actions“ bez jediného slova někdo se sebere a půjde ti splnit přání???

Hovno. Tak to napiš. Vem si to za úkol. Předělej tutoriál a neponižuj ostatní tímto způsobem.

[2021-01-17 17:53] petrparolek commented on #873
to není myšleno jako automat! Ale pouze nápad! BTW. vurgarismy si nepomůžeš.

[2021-01-17 18:12] dg commented on #873
Ale ano, vulgarismy si ulevím, když mě někdo nasere. Příště prosím dej do sepsání issue alespoň trošku úsilí, ať tím nikoho nevytáčíš. Já to tady smažu a když ten návod na Actions vytvoříš, pošli PR, bude to super.

[2021-01-17 18:14] petrparolek commented on #873
👍

[2021-01-17 18:14] #873 closed

[2021-01-17 18:19] dg commented on #853
Fixed

[2021-01-17 18:19] #853 closed

[2021-01-17 22:48] dg commented on #748
done

[2021-01-17 22:48] #748 closed

[2021-02-14 09:58] petrparolek opened #876 "Travis -> GitHub Actions"
Bylo by fajn přepsat https://tester.nette.org/cs/testing-with-travis na GitHub Actions

[2021-02-14 11:32] milo commented on #876
Spíš doplnit. Pošleš PR?

[2021-02-14 11:37] petrparolek commented on #876
Přemýšlel jsem nad tím, ale mám povcit, že nemám tak dobré znalosti GA, vždycky jsem použi kusl kudu yaml konfigurace a poupravil. Myslím si, že metoda pokus / omyl a copy % paste není dobráý nápad  i do dokumentace.

[2021-02-14 15:50] milo commented on #876
Ale někdo to zanalyzovat a vysvětlit musí.

[2021-02-16 09:35] petrparolek commented on #876
někdo zběhlý, pro GitLab CI bycch člíánek napsal v pohodě, jednoduchá a srozumitelná konfigurace

[2021-02-16 19:22] petrparolek commented on #876
mám si troufnout? Není tu nějaký profesionál DevOps? Nebo máš na mysli GitLab?

[2021-02-16 19:28] petrparolek commented on #876
inspiraci bych vzal tu https://archiv.pehapkari.cz/blog/2017/03/30/nastaveni-gitlab-ci-pro-produkcni-aplikaci/ , snad plagiátorství může být, když nejsem na VŠ.

[2021-02-16 19:48] dg commented on #876
Tak GitLab jsem nikdy neviděl a o GA víme všichni stejné málo. Takže jsi vlastně profesionál :)

[2021-06-20 16:05] petrparolek opened #894 "Wrong namaspace Tester\Environment::purge"
https://forum.nette.org/cs/34555-purge-proc-v-dokumentaci-je-ale-v-kodu-nikoliv

Version: all?

### Bug Description

`Tester\Environment::purge() ` -> Tester\Helpers::purge()

### Possible Solution
Fix docs

[2021-06-25 19:24] petrparolek commented on #894
done

[2021-07-05 18:12] f3l1x opened #899 "Document application events"
We should (I mean, I should) take a look at application's event.

https://github.com/nette/application/blob/3cde3b73e54cd928e6c6249b5efa655abcdf3233/src/Application/Application.php#L31-L47

- onStartup
- onShutdown
- onRequest
- onPresenter
- onResponse
- onError

----

Ref: https://forum.nette.org/cs/34553-logovani-kazdeho-requestu-a-kazde-response-do-elastiku#p216507

[2021-07-05 18:49] #894 closed

[2021-07-16 05:07] dakur opened #901 "[Latte] Add {block |filter} and {= |filter} to Syntax > Filters overview"
When I was searching for an answer to [this tread](https://forum.nette.org/en/34614-remove-whitespace-around-tag-content#p216612), [Syntax > Filters](https://latte.nette.org/en/syntax#toc-filters) was exactly the place I clicked through navigation to search for it there. But it wasn't there, I had to pick it up from examples of filters.

[2021-07-16 07:39] dg commented on #901
Can you send PR?

[2021-07-16 07:46] dakur commented on #901
Not now, otherwise I would. Maybe at the end of July, but can't say now.

[2021-07-16 07:50] dg commented on #901
OK, there's no hurry.

[2021-07-21 06:43] dakur commented on #901
Finally, I found some time even earlier. 👉 #902

[2021-08-25 12:41] patrikvalentaa commented on #739
Try this: $form->addText('readonly', 'Readonly:')->setHtmlAttribute('readonly');

[2021-08-25 14:14] #739 closed

[2021-10-10 14:30] #901 closed

[2021-10-10 14:33] dg commented on #850
It's available with Nette Forms.

[2021-12-30 19:34] petrparolek opened #926 "Older docs on https://doc.nette.org"
Version: 2.4 - 3.0

Older docs is missing.

[2021-12-31 15:14] dg commented on #926
For most sites, the switch to 2.4 should be available. The 3.0 is temporary unavailable.

[2021-12-31 15:15] dg commented on #926
![10EACBA9-84C7-46A0-B091-037E91AA0414](https://user-images.githubusercontent.com/194960/147830068-af0e006b-e370-4ae6-8f3b-057cbea769e0.jpeg)

[2022-01-25 15:10] inzanty opened #931 "Create abstract class for services in docs"
https://doc.nette.org/en/quickstart/home-page

On my opinion, it's could be more better to use abstract class for database than creating in each class property $database and set it in __construct();

[code]
Can be changed for:
[code]

AbstractPresenter.php:
[code]

After that it can be simple called like:
[code]

[2022-01-25 15:21] dg commented on #931
Of course, you're free to do that. Please use the forum for discussion https://forum.nette.org.

[2022-01-25 15:22] inzanty commented on #931
It's just suggestion for newbies. I thought it could be useful.

[2022-01-25 15:37] dg commented on #931
This is more of a general PHP thing and not specifically related to the framework. However, there is something about it in the documentation: https://doc.nette.org/cs/dependency-injection/passing-dependencies

[2022-02-03 14:30] petrparolek commented on #926
Již funguje

[2022-02-03 14:30] #926 closed

[2022-07-23 12:03] petrparolek opened #949 "Tracy Scrubber is missing in docs"
ref https://github.com/nette/tracy/pull/439/

[2022-07-23 12:07] dg commented on #949
Send PR please

[2022-07-23 12:53] petrparolek commented on #949
cc @dakujem

[2022-08-18 07:30] dakujem commented on #949
Point me to the place the doc is needed and I'll add it there. I can't write Czech reliably though.

[2022-08-18 08:03] petrparolek commented on #949
You can write in English and we will translate to Czech.

[2022-08-18 08:07] dakujem commented on #949
But where to put the docs? I did not find tracy mentioned in nette docs.

For now I created this: https://github.com/nette/tracy/pull/548

[2022-08-23 13:15] #949 closed

[2022-08-29 08:57] helvete opened #954 "Latte include docs could mention `block` syntax"
The Latte [documentation page](https://latte.nette.org/cs/tags#toc-include) for `include` tag does not mention `include block` syntax.

It would be beneficial if it does, as one could not use dynamic name resolution w/o the `block` argument.

To be specific, this for example does not work:
[code]
But this does:
[code]
I understand the difference between these (now :-) ) - the former includes a tem

[2022-08-29 10:10] dg commented on #954
Feel free to send PR.

[2022-10-06 20:46] mabar opened #957 "Version switch is almost invisible"
Currently version switch in docs is really small and looks like a part of path to page. It would be great to make it easier to find - maybe a box, different color, bit bigger? Thank you

![image](https://user-images.githubusercontent.com/20974277/194414297-b8dced8c-af0e-444e-8c67-2eedd243cbc0.png)
![image](https://user-images.githubusercontent.com/20974277/194414845-6011a75a-caa5-46f9-a4f1-9614c4b

[2022-10-06 21:19] eydun commented on #957
Thanks, I have often been searching for that 😁

[2022-10-25 12:35] dg commented on #954
@helvete  Actually, I wonder why you didn't add that to the documentation? What's the barrier?

[2022-10-25 12:52] #954 closed

[2022-10-27 08:30] helvete commented on #954
Hell I could have. The reason I haven't done that is that I totally forgot about this.

I can see [the documentation](https://latte.nette.org/cs/template-inheritance#toc-vykresleni-bloku) has already been updated, so thank you!